# Binaries for programs and plugins
*.exe
*.dll
*.so
*.dylib

# Test binary, build with "go test -c"
*.test

# Output of the go coverage tool, specifically when used with LiteIDE
*.out

# pretty good IDEs
.idea
.vscode/

# Vim
*.swp

# Sqlite databases
*.db

# OSX
.DS_Store

# # Go
vendor

# Python
.env
.mypy_cache
__pycache__
artifacts

# frontend things
node_modules

# Log files
npm-debug.log*
yarn-debug.log*
yarn-error.log*

.terraform/
*.tfstate*

*.coverprofile
*.profile
