openapi: 3.1.0
info:
  contact:
    email: support@dinnerdonebetter.dev
  description: This is the spec for the Dinner Done Better API.
  title: Dinner Done Better API
  version: 1.0.0
servers:
- description: dev API server
  url: https://api.dinnerdonebetter.dev
paths:
  /_meta_/live:
    get:
      description: checks for service liveness
      operationId: CheckForLiveness
  /_meta_/ready:
    get:
      description: checks for service readiness
      operationId: CheckForReadiness
  /api/v1/admin/cycle_cookie_secret:
    post:
      description: Operation for creating
      operationId: AdminCycleCookieSecret
      security:
      - cookieAuth: []
      - oauth2:
        - service_admin
      tags:
      - admin
  /api/v1/admin/users/status:
    post:
      description: Operation for creating UserStatusResponse
      operationId: AdminUpdateUserStatus
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/UserAccountStatusUpdateInput'
          application/xml:
            schema:
              $ref: '#/components/schemas/UserAccountStatusUpdateInput'
        required: true
      responses:
        "201":
          content:
            application/json:
              schema:
                allOf:
                - $ref: '#/components/schemas/APIResponse'
                - properties:
                    data:
                      $ref: '#/components/schemas/UserStatusResponse'
                      type: object
                  type: object
            application/xml:
              schema:
                allOf:
                - $ref: '#/components/schemas/APIResponse'
                - properties:
                    data:
                      $ref: '#/components/schemas/UserStatusResponse'
                      type: object
                  type: object
          description: ""
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/APIResponseWithError'
            application/xml:
              schema:
                $ref: '#/components/schemas/APIResponseWithError'
          description: ""
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/APIResponseWithError'
            application/xml:
              schema:
                $ref: '#/components/schemas/APIResponseWithError'
          description: ""
        "500":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/APIResponseWithError'
            application/xml:
              schema:
                $ref: '#/components/schemas/APIResponseWithError'
          description: ""
      security:
      - cookieAuth: []
      - oauth2:
        - service_admin
      tags:
      - admin
      - users
  /api/v1/audit_log_entries/{auditLogEntryID}:
    get:
      description: Operation for fetching AuditLogEntry
      operationId: GetAuditLogEntryByID
      parameters:
      - in: path
        name: auditLogEntryID
        required: true
        schema:
          type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                allOf:
                - $ref: '#/components/schemas/APIResponse'
                - properties:
                    data:
                      $ref: '#/components/schemas/AuditLogEntry'
                      type: object
                  type: object
            application/xml:
              schema:
                allOf:
                - $ref: '#/components/schemas/APIResponse'
                - properties:
                    data:
                      $ref: '#/components/schemas/AuditLogEntry'
                      type: object
                  type: object
          description: ""
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/APIResponseWithError'
            application/xml:
              schema:
                $ref: '#/components/schemas/APIResponseWithError'
          description: ""
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/APIResponseWithError'
            application/xml:
              schema:
                $ref: '#/components/schemas/APIResponseWithError'
          description: ""
        "500":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/APIResponseWithError'
            application/xml:
              schema:
                $ref: '#/components/schemas/APIResponseWithError'
          description: ""
      security:
      - cookieAuth: []
      - oauth2:
        - household_member
      tags:
      - audit log entries
  /api/v1/audit_log_entries/for_household:
    get:
      description: Operation for fetching AuditLogEntry
      operationId: GetAuditLogEntriesForHousehold
      responses:
        "200":
          content:
            application/json:
              schema:
                allOf:
                - $ref: '#/components/schemas/APIResponse'
                - properties:
                    data:
                      $ref: '#/components/schemas/AuditLogEntry'
                      type: object
                  type: object
            application/xml:
              schema:
                allOf:
                - $ref: '#/components/schemas/APIResponse'
                - properties:
                    data:
                      $ref: '#/components/schemas/AuditLogEntry'
                      type: object
                  type: object
          description: ""
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/APIResponseWithError'
            application/xml:
              schema:
                $ref: '#/components/schemas/APIResponseWithError'
          description: ""
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/APIResponseWithError'
            application/xml:
              schema:
                $ref: '#/components/schemas/APIResponseWithError'
          description: ""
        "500":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/APIResponseWithError'
            application/xml:
              schema:
                $ref: '#/components/schemas/APIResponseWithError'
          description: ""
      security:
      - cookieAuth: []
      - oauth2:
        - household_admin
      tags:
      - audit log entries
  /api/v1/audit_log_entries/for_user:
    get:
      description: Operation for fetching AuditLogEntry
      operationId: GetAuditLogEntriesForUser
      responses:
        "200":
          content:
            application/json:
              schema:
                allOf:
                - $ref: '#/components/schemas/APIResponse'
                - properties:
                    data:
                      $ref: '#/components/schemas/AuditLogEntry'
                      type: object
                  type: object
            application/xml:
              schema:
                allOf:
                - $ref: '#/components/schemas/APIResponse'
                - properties:
                    data:
                      $ref: '#/components/schemas/AuditLogEntry'
                      type: object
                  type: object
          description: ""
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/APIResponseWithError'
            application/xml:
              schema:
                $ref: '#/components/schemas/APIResponseWithError'
          description: ""
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/APIResponseWithError'
            application/xml:
              schema:
                $ref: '#/components/schemas/APIResponseWithError'
          description: ""
        "500":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/APIResponseWithError'
            application/xml:
              schema:
                $ref: '#/components/schemas/APIResponseWithError'
          description: ""
      security:
      - cookieAuth: []
      - oauth2:
        - household_member
      tags:
      - audit log entries
  /api/v1/household_invitations/{householdInvitationID}:
    get:
      description: Operation for fetching HouseholdInvitation
      operationId: GetHouseholdInvitation
      parameters:
      - in: path
        name: householdInvitationID
        required: true
        schema:
          type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                allOf:
                - $ref: '#/components/schemas/APIResponse'
                - properties:
                    data:
                      $ref: '#/components/schemas/HouseholdInvitation'
                      type: object
                  type: object
            application/xml:
              schema:
                allOf:
                - $ref: '#/components/schemas/APIResponse'
                - properties:
                    data:
                      $ref: '#/components/schemas/HouseholdInvitation'
                      type: object
                  type: object
          description: ""
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/APIResponseWithError'
            application/xml:
              schema:
                $ref: '#/components/schemas/APIResponseWithError'
          description: ""
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/APIResponseWithError'
            application/xml:
              schema:
                $ref: '#/components/schemas/APIResponseWithError'
          description: ""
        "500":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/APIResponseWithError'
            application/xml:
              schema:
                $ref: '#/components/schemas/APIResponseWithError'
          description: ""
      security:
      - cookieAuth: []
      - oauth2:
        - household_member
      tags:
      - household invitations
  /api/v1/household_invitations/{householdInvitationID}/accept:
    put:
      description: Operation for updating HouseholdInvitation
      operationId: AcceptHouseholdInvitation
      parameters:
      - in: path
        name: householdInvitationID
        required: true
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/HouseholdInvitationUpdateRequestInput'
          application/xml:
            schema:
              $ref: '#/components/schemas/HouseholdInvitationUpdateRequestInput'
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                allOf:
                - $ref: '#/components/schemas/APIResponse'
                - properties:
                    data:
                      $ref: '#/components/schemas/HouseholdInvitation'
                      type: object
                  type: object
            application/xml:
              schema:
                allOf:
                - $ref: '#/components/schemas/APIResponse'
                - properties:
                    data:
                      $ref: '#/components/schemas/HouseholdInvitation'
                      type: object
                  type: object
          description: ""
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/APIResponseWithError'
            application/xml:
              schema:
                $ref: '#/components/schemas/APIResponseWithError'
          description: ""
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/APIResponseWithError'
            application/xml:
              schema:
                $ref: '#/components/schemas/APIResponseWithError'
          description: ""
        "500":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/APIResponseWithError'
            application/xml:
              schema:
                $ref: '#/components/schemas/APIResponseWithError'
          description: ""
      security:
      - cookieAuth: []
      - oauth2:
        - household_member
      tags:
      - household invitations
  /api/v1/household_invitations/{householdInvitationID}/cancel:
    put:
      description: Operation for updating HouseholdInvitation
      operationId: CancelHouseholdInvitation
      parameters:
      - in: path
        name: householdInvitationID
        required: true
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/HouseholdInvitationUpdateRequestInput'
          application/xml:
            schema:
              $ref: '#/components/schemas/HouseholdInvitationUpdateRequestInput'
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                allOf:
                - $ref: '#/components/schemas/APIResponse'
                - properties:
                    data:
                      $ref: '#/components/schemas/HouseholdInvitation'
                      type: object
                  type: object
            application/xml:
              schema:
                allOf:
                - $ref: '#/components/schemas/APIResponse'
                - properties:
                    data:
                      $ref: '#/components/schemas/HouseholdInvitation'
                      type: object
                  type: object
          description: ""
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/APIResponseWithError'
            application/xml:
              schema:
                $ref: '#/components/schemas/APIResponseWithError'
          description: ""
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/APIResponseWithError'
            application/xml:
              schema:
                $ref: '#/components/schemas/APIResponseWithError'
          description: ""
        "500":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/APIResponseWithError'
            application/xml:
              schema:
                $ref: '#/components/schemas/APIResponseWithError'
          description: ""
      security:
      - cookieAuth: []
      - oauth2:
        - household_member
      tags:
      - household invitations
  /api/v1/household_invitations/{householdInvitationID}/reject:
    put:
      description: Operation for updating HouseholdInvitation
      operationId: RejectHouseholdInvitation
      parameters:
      - in: path
        name: householdInvitationID
        required: true
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/HouseholdInvitationUpdateRequestInput'
          application/xml:
            schema:
              $ref: '#/components/schemas/HouseholdInvitationUpdateRequestInput'
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                allOf:
                - $ref: '#/components/schemas/APIResponse'
                - properties:
                    data:
                      $ref: '#/components/schemas/HouseholdInvitation'
                      type: object
                  type: object
            application/xml:
              schema:
                allOf:
                - $ref: '#/components/schemas/APIResponse'
                - properties:
                    data:
                      $ref: '#/components/schemas/HouseholdInvitation'
                      type: object
                  type: object
          description: ""
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/APIResponseWithError'
            application/xml:
              schema:
                $ref: '#/components/schemas/APIResponseWithError'
          description: ""
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/APIResponseWithError'
            application/xml:
              schema:
                $ref: '#/components/schemas/APIResponseWithError'
          description: ""
        "500":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/APIResponseWithError'
            application/xml:
              schema:
                $ref: '#/components/schemas/APIResponseWithError'
          description: ""
      security:
      - cookieAuth: []
      - oauth2:
        - household_member
      tags:
      - household invitations
  /api/v1/household_invitations/received:
    get:
      description: Operation for fetching HouseholdInvitation
      operationId: GetReceivedHouseholdInvitations
      parameters:
      - description: How many results should appear in output, max is 250.
        in: query
        name: limit
        required: true
        schema:
          type: integer
      - description: What page of results should appear in output.
        in: query
        name: page
        required: true
        schema:
          type: integer
      - description: The latest CreatedAt date that should appear in output.
        in: query
        name: createdBefore
        required: true
        schema:
          type: string
      - description: The earliest CreatedAt date that should appear in output.
        in: query
        name: createdAfter
        required: true
        schema:
          type: string
      - description: The latest UpdatedAt date that should appear in output.
        in: query
        name: updatedBefore
        required: true
        schema:
          type: string
      - description: The earliest UpdatedAt date that should appear in output.
        in: query
        name: updatedAfter
        required: true
        schema:
          type: string
      - description: Whether or not to include archived results in output, limited
          to service admins.
        in: query
        name: includeArchived
        required: true
        schema:
          enum:
          - "true"
          - "false"
          type: string
      - description: The direction in which results should be sorted.
        in: query
        name: sortBy
        required: true
        schema:
          enum:
          - asc
          - desc
          type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                allOf:
                - $ref: '#/components/schemas/APIResponse'
                - properties:
                    data:
                      items:
                        $ref: '#/components/schemas/HouseholdInvitation'
                      type: array
                  type: object
            application/xml:
              schema:
                allOf:
                - $ref: '#/components/schemas/APIResponse'
                - properties:
                    data:
                      items:
                        $ref: '#/components/schemas/HouseholdInvitation'
                      type: array
                  type: object
          description: ""
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/APIResponseWithError'
            application/xml:
              schema:
                $ref: '#/components/schemas/APIResponseWithError'
          description: ""
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/APIResponseWithError'
            application/xml:
              schema:
                $ref: '#/components/schemas/APIResponseWithError'
          description: ""
        "500":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/APIResponseWithError'
            application/xml:
              schema:
                $ref: '#/components/schemas/APIResponseWithError'
          description: ""
      security:
      - cookieAuth: []
      - oauth2:
        - household_member
      tags:
      - household invitations
  /api/v1/household_invitations/sent:
    get:
      description: Operation for fetching HouseholdInvitation
      operationId: GetSentHouseholdInvitations
      parameters:
      - description: How many results should appear in output, max is 250.
        in: query
        name: limit
        required: true
        schema:
          type: integer
      - description: What page of results should appear in output.
        in: query
        name: page
        required: true
        schema:
          type: integer
      - description: The latest CreatedAt date that should appear in output.
        in: query
        name: createdBefore
        required: true
        schema:
          type: string
      - description: The earliest CreatedAt date that should appear in output.
        in: query
        name: createdAfter
        required: true
        schema:
          type: string
      - description: The latest UpdatedAt date that should appear in output.
        in: query
        name: updatedBefore
        required: true
        schema:
          type: string
      - description: The earliest UpdatedAt date that should appear in output.
        in: query
        name: updatedAfter
        required: true
        schema:
          type: string
      - description: Whether or not to include archived results in output, limited
          to service admins.
        in: query
        name: includeArchived
        required: true
        schema:
          enum:
          - "true"
          - "false"
          type: string
      - description: The direction in which results should be sorted.
        in: query
        name: sortBy
        required: true
        schema:
          enum:
          - asc
          - desc
          type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                allOf:
                - $ref: '#/components/schemas/APIResponse'
                - properties:
                    data:
                      items:
                        $ref: '#/components/schemas/HouseholdInvitation'
                      type: array
                  type: object
            application/xml:
              schema:
                allOf:
                - $ref: '#/components/schemas/APIResponse'
                - properties:
                    data:
                      items:
                        $ref: '#/components/schemas/HouseholdInvitation'
                      type: array
                  type: object
          description: ""
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/APIResponseWithError'
            application/xml:
              schema:
                $ref: '#/components/schemas/APIResponseWithError'
          description: ""
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/APIResponseWithError'
            application/xml:
              schema:
                $ref: '#/components/schemas/APIResponseWithError'
          description: ""
        "500":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/APIResponseWithError'
            application/xml:
              schema:
                $ref: '#/components/schemas/APIResponseWithError'
          description: ""
      security:
      - cookieAuth: []
      - oauth2:
        - household_member
      tags:
      - household invitations
  /api/v1/households:
    get:
      description: Operation for fetching Household
      operationId: GetHouseholds
      parameters:
      - description: How many results should appear in output, max is 250.
        in: query
        name: limit
        required: true
        schema:
          type: integer
      - description: What page of results should appear in output.
        in: query
        name: page
        required: true
        schema:
          type: integer
      - description: The latest CreatedAt date that should appear in output.
        in: query
        name: createdBefore
        required: true
        schema:
          type: string
      - description: The earliest CreatedAt date that should appear in output.
        in: query
        name: createdAfter
        required: true
        schema:
          type: string
      - description: The latest UpdatedAt date that should appear in output.
        in: query
        name: updatedBefore
        required: true
        schema:
          type: string
      - description: The earliest UpdatedAt date that should appear in output.
        in: query
        name: updatedAfter
        required: true
        schema:
          type: string
      - description: Whether or not to include archived results in output, limited
          to service admins.
        in: query
        name: includeArchived
        required: true
        schema:
          enum:
          - "true"
          - "false"
          type: string
      - description: The direction in which results should be sorted.
        in: query
        name: sortBy
        required: true
        schema:
          enum:
          - asc
          - desc
          type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                allOf:
                - $ref: '#/components/schemas/APIResponse'
                - properties:
                    data:
                      items:
                        $ref: '#/components/schemas/Household'
                      type: array
                  type: object
            application/xml:
              schema:
                allOf:
                - $ref: '#/components/schemas/APIResponse'
                - properties:
                    data:
                      items:
                        $ref: '#/components/schemas/Household'
                      type: array
                  type: object
          description: ""
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/APIResponseWithError'
            application/xml:
              schema:
                $ref: '#/components/schemas/APIResponseWithError'
          description: ""
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/APIResponseWithError'
            application/xml:
              schema:
                $ref: '#/components/schemas/APIResponseWithError'
          description: ""
        "500":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/APIResponseWithError'
            application/xml:
              schema:
                $ref: '#/components/schemas/APIResponseWithError'
          description: ""
      security:
      - cookieAuth: []
      - oauth2:
        - household_member
      tags:
      - households
    post:
      description: Operation for creating Household
      operationId: CreateHousehold
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/HouseholdCreationRequestInput'
          application/xml:
            schema:
              $ref: '#/components/schemas/HouseholdCreationRequestInput'
        required: true
      responses:
        "201":
          content:
            application/json:
              schema:
                allOf:
                - $ref: '#/components/schemas/APIResponse'
                - properties:
                    data:
                      $ref: '#/components/schemas/Household'
                      type: object
                  type: object
            application/xml:
              schema:
                allOf:
                - $ref: '#/components/schemas/APIResponse'
                - properties:
                    data:
                      $ref: '#/components/schemas/Household'
                      type: object
                  type: object
          description: ""
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/APIResponseWithError'
            application/xml:
              schema:
                $ref: '#/components/schemas/APIResponseWithError'
          description: ""
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/APIResponseWithError'
            application/xml:
              schema:
                $ref: '#/components/schemas/APIResponseWithError'
          description: ""
        "500":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/APIResponseWithError'
            application/xml:
              schema:
                $ref: '#/components/schemas/APIResponseWithError'
          description: ""
      security:
      - cookieAuth: []
      - oauth2:
        - household_member
      tags:
      - households
  /api/v1/households/{householdID}:
    delete:
      description: Operation for archiving Household
      operationId: ArchiveHousehold
      parameters:
      - in: path
        name: householdID
        required: true
        schema:
          type: string
      responses:
        "202":
          content:
            application/json:
              schema:
                allOf:
                - $ref: '#/components/schemas/APIResponse'
                - properties:
                    data:
                      $ref: '#/components/schemas/Household'
                      type: object
                  type: object
            application/xml:
              schema:
                allOf:
                - $ref: '#/components/schemas/APIResponse'
                - properties:
                    data:
                      $ref: '#/components/schemas/Household'
                      type: object
                  type: object
          description: ""
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/APIResponseWithError'
            application/xml:
              schema:
                $ref: '#/components/schemas/APIResponseWithError'
          description: ""
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/APIResponseWithError'
            application/xml:
              schema:
                $ref: '#/components/schemas/APIResponseWithError'
          description: ""
        "500":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/APIResponseWithError'
            application/xml:
              schema:
                $ref: '#/components/schemas/APIResponseWithError'
          description: ""
      security:
      - cookieAuth: []
      - oauth2:
        - household_admin
      tags:
      - households
    get:
      description: Operation for fetching Household
      operationId: GetHousehold
      parameters:
      - in: path
        name: householdID
        required: true
        schema:
          type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                allOf:
                - $ref: '#/components/schemas/APIResponse'
                - properties:
                    data:
                      $ref: '#/components/schemas/Household'
                      type: object
                  type: object
            application/xml:
              schema:
                allOf:
                - $ref: '#/components/schemas/APIResponse'
                - properties:
                    data:
                      $ref: '#/components/schemas/Household'
                      type: object
                  type: object
          description: ""
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/APIResponseWithError'
            application/xml:
              schema:
                $ref: '#/components/schemas/APIResponseWithError'
          description: ""
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/APIResponseWithError'
            application/xml:
              schema:
                $ref: '#/components/schemas/APIResponseWithError'
          description: ""
        "500":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/APIResponseWithError'
            application/xml:
              schema:
                $ref: '#/components/schemas/APIResponseWithError'
          description: ""
      security:
      - cookieAuth: []
      - oauth2:
        - household_member
      tags:
      - households
    put:
      description: Operation for updating Household
      operationId: UpdateHousehold
      parameters:
      - in: path
        name: householdID
        required: true
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/HouseholdUpdateRequestInput'
          application/xml:
            schema:
              $ref: '#/components/schemas/HouseholdUpdateRequestInput'
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                allOf:
                - $ref: '#/components/schemas/APIResponse'
                - properties:
                    data:
                      $ref: '#/components/schemas/Household'
                      type: object
                  type: object
            application/xml:
              schema:
                allOf:
                - $ref: '#/components/schemas/APIResponse'
                - properties:
                    data:
                      $ref: '#/components/schemas/Household'
                      type: object
                  type: object
          description: ""
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/APIResponseWithError'
            application/xml:
              schema:
                $ref: '#/components/schemas/APIResponseWithError'
          description: ""
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/APIResponseWithError'
            application/xml:
              schema:
                $ref: '#/components/schemas/APIResponseWithError'
          description: ""
        "500":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/APIResponseWithError'
            application/xml:
              schema:
                $ref: '#/components/schemas/APIResponseWithError'
          description: ""
      security:
      - cookieAuth: []
      - oauth2:
        - household_admin
      tags:
      - households
  /api/v1/households/{householdID}/default:
    post:
      description: Operation for creating Household
      operationId: SetDefaultHousehold
      parameters:
      - in: path
        name: householdID
        required: true
        schema:
          type: string
      responses:
        "201":
          content:
            application/json:
              schema:
                allOf:
                - $ref: '#/components/schemas/APIResponse'
                - properties:
                    data:
                      $ref: '#/components/schemas/Household'
                      type: object
                  type: object
            application/xml:
              schema:
                allOf:
                - $ref: '#/components/schemas/APIResponse'
                - properties:
                    data:
                      $ref: '#/components/schemas/Household'
                      type: object
                  type: object
          description: ""
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/APIResponseWithError'
            application/xml:
              schema:
                $ref: '#/components/schemas/APIResponseWithError'
          description: ""
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/APIResponseWithError'
            application/xml:
              schema:
                $ref: '#/components/schemas/APIResponseWithError'
          description: ""
        "500":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/APIResponseWithError'
            application/xml:
              schema:
                $ref: '#/components/schemas/APIResponseWithError'
          description: ""
      security:
      - cookieAuth: []
      - oauth2:
        - household_member
      tags:
      - households
  /api/v1/households/{householdID}/invitations:
    post:
      description: Operation for creating HouseholdInvitation
      operationId: CreateHouseholdInvitation
      parameters:
      - in: path
        name: householdID
        required: true
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/HouseholdInvitationCreationRequestInput'
          application/xml:
            schema:
              $ref: '#/components/schemas/HouseholdInvitationCreationRequestInput'
        required: true
      responses:
        "201":
          content:
            application/json:
              schema:
                allOf:
                - $ref: '#/components/schemas/APIResponse'
                - properties:
                    data:
                      $ref: '#/components/schemas/HouseholdInvitation'
                      type: object
                  type: object
            application/xml:
              schema:
                allOf:
                - $ref: '#/components/schemas/APIResponse'
                - properties:
                    data:
                      $ref: '#/components/schemas/HouseholdInvitation'
                      type: object
                  type: object
          description: ""
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/APIResponseWithError'
            application/xml:
              schema:
                $ref: '#/components/schemas/APIResponseWithError'
          description: ""
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/APIResponseWithError'
            application/xml:
              schema:
                $ref: '#/components/schemas/APIResponseWithError'
          description: ""
        "500":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/APIResponseWithError'
            application/xml:
              schema:
                $ref: '#/components/schemas/APIResponseWithError'
          description: ""
      security:
      - cookieAuth: []
      - oauth2:
        - household_admin
      tags:
      - households
      - invitations
  /api/v1/households/{householdID}/invitations/{householdInvitationID}:
    get:
      description: Operation for fetching HouseholdInvitation
      operationId: GetHouseholdInvitationByID
      parameters:
      - in: path
        name: householdID
        required: true
        schema:
          type: string
      - in: path
        name: householdInvitationID
        required: true
        schema:
          type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                allOf:
                - $ref: '#/components/schemas/APIResponse'
                - properties:
                    data:
                      $ref: '#/components/schemas/HouseholdInvitation'
                      type: object
                  type: object
            application/xml:
              schema:
                allOf:
                - $ref: '#/components/schemas/APIResponse'
                - properties:
                    data:
                      $ref: '#/components/schemas/HouseholdInvitation'
                      type: object
                  type: object
          description: ""
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/APIResponseWithError'
            application/xml:
              schema:
                $ref: '#/components/schemas/APIResponseWithError'
          description: ""
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/APIResponseWithError'
            application/xml:
              schema:
                $ref: '#/components/schemas/APIResponseWithError'
          description: ""
        "500":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/APIResponseWithError'
            application/xml:
              schema:
                $ref: '#/components/schemas/APIResponseWithError'
          description: ""
      security:
      - cookieAuth: []
      - oauth2:
        - household_member
      tags:
      - households
      - invitations
  /api/v1/households/{householdID}/invite:
    post:
      description: Operation for creating HouseholdInvitation
      operationId: POST_households_householdID_invite
      parameters:
      - in: path
        name: householdID
        required: true
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/HouseholdInvitationCreationRequestInput'
          application/xml:
            schema:
              $ref: '#/components/schemas/HouseholdInvitationCreationRequestInput'
        required: true
      responses:
        "201":
          content:
            application/json:
              schema:
                allOf:
                - $ref: '#/components/schemas/APIResponse'
                - properties:
                    data:
                      $ref: '#/components/schemas/HouseholdInvitation'
                      type: object
                  type: object
            application/xml:
              schema:
                allOf:
                - $ref: '#/components/schemas/APIResponse'
                - properties:
                    data:
                      $ref: '#/components/schemas/HouseholdInvitation'
                      type: object
                  type: object
          description: ""
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/APIResponseWithError'
            application/xml:
              schema:
                $ref: '#/components/schemas/APIResponseWithError'
          description: ""
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/APIResponseWithError'
            application/xml:
              schema:
                $ref: '#/components/schemas/APIResponseWithError'
          description: ""
        "500":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/APIResponseWithError'
            application/xml:
              schema:
                $ref: '#/components/schemas/APIResponseWithError'
          description: ""
      security:
      - cookieAuth: []
      - oauth2:
        - household_admin
      tags:
      - households
  /api/v1/households/{householdID}/members/{userID}:
    delete:
      description: Operation for archiving HouseholdUserMembership
      operationId: ArchiveUserMembership
      parameters:
      - in: path
        name: householdID
        required: true
        schema:
          type: string
      - in: path
        name: userID
        required: true
        schema:
          type: string
      responses:
        "202":
          content:
            application/json:
              schema:
                allOf:
                - $ref: '#/components/schemas/APIResponse'
                - properties:
                    data:
                      $ref: '#/components/schemas/HouseholdUserMembership'
                      type: object
                  type: object
            application/xml:
              schema:
                allOf:
                - $ref: '#/components/schemas/APIResponse'
                - properties:
                    data:
                      $ref: '#/components/schemas/HouseholdUserMembership'
                      type: object
                  type: object
          description: ""
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/APIResponseWithError'
            application/xml:
              schema:
                $ref: '#/components/schemas/APIResponseWithError'
          description: ""
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/APIResponseWithError'
            application/xml:
              schema:
                $ref: '#/components/schemas/APIResponseWithError'
          description: ""
        "500":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/APIResponseWithError'
            application/xml:
              schema:
                $ref: '#/components/schemas/APIResponseWithError'
          description: ""
      security:
      - cookieAuth: []
      - oauth2:
        - household_admin
      tags:
      - households
      - household members
  /api/v1/households/{householdID}/members/{userID}/permissions:
    patch:
      description: Operation for updating UserPermissionsResponse
      operationId: UpdateHouseholdMemberPermissions
      parameters:
      - in: path
        name: householdID
        required: true
        schema:
          type: string
      - in: path
        name: userID
        required: true
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ModifyUserPermissionsInput'
          application/xml:
            schema:
              $ref: '#/components/schemas/ModifyUserPermissionsInput'
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                allOf:
                - $ref: '#/components/schemas/APIResponse'
                - properties:
                    data:
                      $ref: '#/components/schemas/UserPermissionsResponse'
                      type: object
                  type: object
            application/xml:
              schema:
                allOf:
                - $ref: '#/components/schemas/APIResponse'
                - properties:
                    data:
                      $ref: '#/components/schemas/UserPermissionsResponse'
                      type: object
                  type: object
          description: ""
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/APIResponseWithError'
            application/xml:
              schema:
                $ref: '#/components/schemas/APIResponseWithError'
          description: ""
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/APIResponseWithError'
            application/xml:
              schema:
                $ref: '#/components/schemas/APIResponseWithError'
          description: ""
        "500":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/APIResponseWithError'
            application/xml:
              schema:
                $ref: '#/components/schemas/APIResponseWithError'
          description: ""
      security:
      - cookieAuth: []
      - oauth2:
        - household_admin
      tags:
      - households
      - household members
  /api/v1/households/{householdID}/transfer:
    post:
      description: Operation for creating Household
      operationId: TransferHouseholdOwnership
      parameters:
      - in: path
        name: householdID
        required: true
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/HouseholdOwnershipTransferInput'
          application/xml:
            schema:
              $ref: '#/components/schemas/HouseholdOwnershipTransferInput'
        required: true
      responses:
        "201":
          content:
            application/json:
              schema:
                allOf:
                - $ref: '#/components/schemas/APIResponse'
                - properties:
                    data:
                      $ref: '#/components/schemas/Household'
                      type: object
                  type: object
            application/xml:
              schema:
                allOf:
                - $ref: '#/components/schemas/APIResponse'
                - properties:
                    data:
                      $ref: '#/components/schemas/Household'
                      type: object
                  type: object
          description: ""
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/APIResponseWithError'
            application/xml:
              schema:
                $ref: '#/components/schemas/APIResponseWithError'
          description: ""
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/APIResponseWithError'
            application/xml:
              schema:
                $ref: '#/components/schemas/APIResponseWithError'
          description: ""
        "500":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/APIResponseWithError'
            application/xml:
              schema:
                $ref: '#/components/schemas/APIResponseWithError'
          description: ""
      security:
      - cookieAuth: []
      - oauth2:
        - household_admin
      tags:
      - households
  /api/v1/households/current:
    get:
      description: Operation for fetching Household
      operationId: GetActiveHousehold
      responses:
        "200":
          content:
            application/json:
              schema:
                allOf:
                - $ref: '#/components/schemas/APIResponse'
                - properties:
                    data:
                      $ref: '#/components/schemas/Household'
                      type: object
                  type: object
            application/xml:
              schema:
                allOf:
                - $ref: '#/components/schemas/APIResponse'
                - properties:
                    data:
                      $ref: '#/components/schemas/Household'
                      type: object
                  type: object
          description: ""
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/APIResponseWithError'
            application/xml:
              schema:
                $ref: '#/components/schemas/APIResponseWithError'
          description: ""
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/APIResponseWithError'
            application/xml:
              schema:
                $ref: '#/components/schemas/APIResponseWithError'
          description: ""
        "500":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/APIResponseWithError'
            application/xml:
              schema:
                $ref: '#/components/schemas/APIResponseWithError'
          description: ""
      security:
      - cookieAuth: []
      - oauth2:
        - household_member
      tags:
      - households
  /api/v1/households/instruments:
    get:
      description: Operation for fetching HouseholdInstrumentOwnership
      operationId: GetHouseholdInstrumentOwnerships
      parameters:
      - description: How many results should appear in output, max is 250.
        in: query
        name: limit
        required: true
        schema:
          type: integer
      - description: What page of results should appear in output.
        in: query
        name: page
        required: true
        schema:
          type: integer
      - description: The latest CreatedAt date that should appear in output.
        in: query
        name: createdBefore
        required: true
        schema:
          type: string
      - description: The earliest CreatedAt date that should appear in output.
        in: query
        name: createdAfter
        required: true
        schema:
          type: string
      - description: The latest UpdatedAt date that should appear in output.
        in: query
        name: updatedBefore
        required: true
        schema:
          type: string
      - description: The earliest UpdatedAt date that should appear in output.
        in: query
        name: updatedAfter
        required: true
        schema:
          type: string
      - description: Whether or not to include archived results in output, limited
          to service admins.
        in: query
        name: includeArchived
        required: true
        schema:
          enum:
          - "true"
          - "false"
          type: string
      - description: The direction in which results should be sorted.
        in: query
        name: sortBy
        required: true
        schema:
          enum:
          - asc
          - desc
          type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                allOf:
                - $ref: '#/components/schemas/APIResponse'
                - properties:
                    data:
                      items:
                        $ref: '#/components/schemas/HouseholdInstrumentOwnership'
                      type: array
                  type: object
            application/xml:
              schema:
                allOf:
                - $ref: '#/components/schemas/APIResponse'
                - properties:
                    data:
                      items:
                        $ref: '#/components/schemas/HouseholdInstrumentOwnership'
                      type: array
                  type: object
          description: ""
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/APIResponseWithError'
            application/xml:
              schema:
                $ref: '#/components/schemas/APIResponseWithError'
          description: ""
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/APIResponseWithError'
            application/xml:
              schema:
                $ref: '#/components/schemas/APIResponseWithError'
          description: ""
        "500":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/APIResponseWithError'
            application/xml:
              schema:
                $ref: '#/components/schemas/APIResponseWithError'
          description: ""
      security:
      - cookieAuth: []
      - oauth2:
        - household_member
      tags:
      - households
      - household instrument ownerships
    post:
      description: Operation for creating HouseholdInstrumentOwnership
      operationId: CreateHouseholdInstrumentOwnership
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/HouseholdInstrumentOwnershipCreationRequestInput'
          application/xml:
            schema:
              $ref: '#/components/schemas/HouseholdInstrumentOwnershipCreationRequestInput'
        required: true
      responses:
        "201":
          content:
            application/json:
              schema:
                allOf:
                - $ref: '#/components/schemas/APIResponse'
                - properties:
                    data:
                      $ref: '#/components/schemas/HouseholdInstrumentOwnership'
                      type: object
                  type: object
            application/xml:
              schema:
                allOf:
                - $ref: '#/components/schemas/APIResponse'
                - properties:
                    data:
                      $ref: '#/components/schemas/HouseholdInstrumentOwnership'
                      type: object
                  type: object
          description: ""
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/APIResponseWithError'
            application/xml:
              schema:
                $ref: '#/components/schemas/APIResponseWithError'
          description: ""
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/APIResponseWithError'
            application/xml:
              schema:
                $ref: '#/components/schemas/APIResponseWithError'
          description: ""
        "500":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/APIResponseWithError'
            application/xml:
              schema:
                $ref: '#/components/schemas/APIResponseWithError'
          description: ""
      security:
      - cookieAuth: []
      - oauth2:
        - household_admin
      tags:
      - households
      - household instrument ownerships
  /api/v1/households/instruments/{householdInstrumentOwnershipID}:
    delete:
      description: Operation for archiving HouseholdInstrumentOwnership
      operationId: ArchiveHouseholdInstrumentOwnership
      parameters:
      - in: path
        name: householdInstrumentOwnershipID
        required: true
        schema:
          type: string
      responses:
        "202":
          content:
            application/json:
              schema:
                allOf:
                - $ref: '#/components/schemas/APIResponse'
                - properties:
                    data:
                      $ref: '#/components/schemas/HouseholdInstrumentOwnership'
                      type: object
                  type: object
            application/xml:
              schema:
                allOf:
                - $ref: '#/components/schemas/APIResponse'
                - properties:
                    data:
                      $ref: '#/components/schemas/HouseholdInstrumentOwnership'
                      type: object
                  type: object
          description: ""
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/APIResponseWithError'
            application/xml:
              schema:
                $ref: '#/components/schemas/APIResponseWithError'
          description: ""
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/APIResponseWithError'
            application/xml:
              schema:
                $ref: '#/components/schemas/APIResponseWithError'
          description: ""
        "500":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/APIResponseWithError'
            application/xml:
              schema:
                $ref: '#/components/schemas/APIResponseWithError'
          description: ""
      security:
      - cookieAuth: []
      - oauth2:
        - household_admin
      tags:
      - households
      - household instrument ownerships
    get:
      description: Operation for fetching HouseholdInstrumentOwnership
      operationId: GetHouseholdInstrumentOwnership
      parameters:
      - in: path
        name: householdInstrumentOwnershipID
        required: true
        schema:
          type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                allOf:
                - $ref: '#/components/schemas/APIResponse'
                - properties:
                    data:
                      $ref: '#/components/schemas/HouseholdInstrumentOwnership'
                      type: object
                  type: object
            application/xml:
              schema:
                allOf:
                - $ref: '#/components/schemas/APIResponse'
                - properties:
                    data:
                      $ref: '#/components/schemas/HouseholdInstrumentOwnership'
                      type: object
                  type: object
          description: ""
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/APIResponseWithError'
            application/xml:
              schema:
                $ref: '#/components/schemas/APIResponseWithError'
          description: ""
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/APIResponseWithError'
            application/xml:
              schema:
                $ref: '#/components/schemas/APIResponseWithError'
          description: ""
        "500":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/APIResponseWithError'
            application/xml:
              schema:
                $ref: '#/components/schemas/APIResponseWithError'
          description: ""
      security:
      - cookieAuth: []
      - oauth2:
        - household_member
      tags:
      - households
      - household instrument ownerships
    put:
      description: Operation for updating HouseholdInstrumentOwnership
      operationId: UpdateHouseholdInstrumentOwnership
      parameters:
      - in: path
        name: householdInstrumentOwnershipID
        required: true
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/HouseholdInstrumentOwnershipUpdateRequestInput'
          application/xml:
            schema:
              $ref: '#/components/schemas/HouseholdInstrumentOwnershipUpdateRequestInput'
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                allOf:
                - $ref: '#/components/schemas/APIResponse'
                - properties:
                    data:
                      $ref: '#/components/schemas/HouseholdInstrumentOwnership'
                      type: object
                  type: object
            application/xml:
              schema:
                allOf:
                - $ref: '#/components/schemas/APIResponse'
                - properties:
                    data:
                      $ref: '#/components/schemas/HouseholdInstrumentOwnership'
                      type: object
                  type: object
          description: ""
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/APIResponseWithError'
            application/xml:
              schema:
                $ref: '#/components/schemas/APIResponseWithError'
          description: ""
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/APIResponseWithError'
            application/xml:
              schema:
                $ref: '#/components/schemas/APIResponseWithError'
          description: ""
        "500":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/APIResponseWithError'
            application/xml:
              schema:
                $ref: '#/components/schemas/APIResponseWithError'
          description: ""
      security:
      - cookieAuth: []
      - oauth2:
        - household_admin
      tags:
      - households
      - household instrument ownerships
  /api/v1/meal_plans:
    get:
      description: Operation for fetching MealPlan
      operationId: GetMealPlans
      parameters:
      - description: How many results should appear in output, max is 250.
        in: query
        name: limit
        required: true
        schema:
          type: integer
      - description: What page of results should appear in output.
        in: query
        name: page
        required: true
        schema:
          type: integer
      - description: The latest CreatedAt date that should appear in output.
        in: query
        name: createdBefore
        required: true
        schema:
          type: string
      - description: The earliest CreatedAt date that should appear in output.
        in: query
        name: createdAfter
        required: true
        schema:
          type: string
      - description: The latest UpdatedAt date that should appear in output.
        in: query
        name: updatedBefore
        required: true
        schema:
          type: string
      - description: The earliest UpdatedAt date that should appear in output.
        in: query
        name: updatedAfter
        required: true
        schema:
          type: string
      - description: Whether or not to include archived results in output, limited
          to service admins.
        in: query
        name: includeArchived
        required: true
        schema:
          enum:
          - "true"
          - "false"
          type: string
      - description: The direction in which results should be sorted.
        in: query
        name: sortBy
        required: true
        schema:
          enum:
          - asc
          - desc
          type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                allOf:
                - $ref: '#/components/schemas/APIResponse'
                - properties:
                    data:
                      items:
                        $ref: '#/components/schemas/MealPlan'
                      type: array
                  type: object
            application/xml:
              schema:
                allOf:
                - $ref: '#/components/schemas/APIResponse'
                - properties:
                    data:
                      items:
                        $ref: '#/components/schemas/MealPlan'
                      type: array
                  type: object
          description: ""
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/APIResponseWithError'
            application/xml:
              schema:
                $ref: '#/components/schemas/APIResponseWithError'
          description: ""
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/APIResponseWithError'
            application/xml:
              schema:
                $ref: '#/components/schemas/APIResponseWithError'
          description: ""
        "500":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/APIResponseWithError'
            application/xml:
              schema:
                $ref: '#/components/schemas/APIResponseWithError'
          description: ""
      security:
      - cookieAuth: []
      - oauth2:
        - household_member
      tags:
      - meal plans
    post:
      description: Operation for creating MealPlan
      operationId: CreateMealPlan
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/MealPlanCreationRequestInput'
          application/xml:
            schema:
              $ref: '#/components/schemas/MealPlanCreationRequestInput'
        required: true
      responses:
        "201":
          content:
            application/json:
              schema:
                allOf:
                - $ref: '#/components/schemas/APIResponse'
                - properties:
                    data:
                      $ref: '#/components/schemas/MealPlan'
                      type: object
                  type: object
            application/xml:
              schema:
                allOf:
                - $ref: '#/components/schemas/APIResponse'
                - properties:
                    data:
                      $ref: '#/components/schemas/MealPlan'
                      type: object
                  type: object
          description: ""
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/APIResponseWithError'
            application/xml:
              schema:
                $ref: '#/components/schemas/APIResponseWithError'
          description: ""
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/APIResponseWithError'
            application/xml:
              schema:
                $ref: '#/components/schemas/APIResponseWithError'
          description: ""
        "500":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/APIResponseWithError'
            application/xml:
              schema:
                $ref: '#/components/schemas/APIResponseWithError'
          description: ""
      security:
      - cookieAuth: []
      - oauth2:
        - household_admin
      tags:
      - meal plans
  /api/v1/meal_plans/{mealPlanID}:
    delete:
      description: Operation for archiving MealPlan
      operationId: ArchiveMealPlan
      parameters:
      - in: path
        name: mealPlanID
        required: true
        schema:
          type: string
      responses:
        "202":
          content:
            application/json:
              schema:
                allOf:
                - $ref: '#/components/schemas/APIResponse'
                - properties:
                    data:
                      $ref: '#/components/schemas/MealPlan'
                      type: object
                  type: object
            application/xml:
              schema:
                allOf:
                - $ref: '#/components/schemas/APIResponse'
                - properties:
                    data:
                      $ref: '#/components/schemas/MealPlan'
                      type: object
                  type: object
          description: ""
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/APIResponseWithError'
            application/xml:
              schema:
                $ref: '#/components/schemas/APIResponseWithError'
          description: ""
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/APIResponseWithError'
            application/xml:
              schema:
                $ref: '#/components/schemas/APIResponseWithError'
          description: ""
        "500":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/APIResponseWithError'
            application/xml:
              schema:
                $ref: '#/components/schemas/APIResponseWithError'
          description: ""
      security:
      - cookieAuth: []
      - oauth2:
        - household_admin
      tags:
      - meal plans
    get:
      description: Operation for fetching MealPlan
      operationId: GetMealPlan
      parameters:
      - in: path
        name: mealPlanID
        required: true
        schema:
          type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                allOf:
                - $ref: '#/components/schemas/APIResponse'
                - properties:
                    data:
                      $ref: '#/components/schemas/MealPlan'
                      type: object
                  type: object
            application/xml:
              schema:
                allOf:
                - $ref: '#/components/schemas/APIResponse'
                - properties:
                    data:
                      $ref: '#/components/schemas/MealPlan'
                      type: object
                  type: object
          description: ""
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/APIResponseWithError'
            application/xml:
              schema:
                $ref: '#/components/schemas/APIResponseWithError'
          description: ""
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/APIResponseWithError'
            application/xml:
              schema:
                $ref: '#/components/schemas/APIResponseWithError'
          description: ""
        "500":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/APIResponseWithError'
            application/xml:
              schema:
                $ref: '#/components/schemas/APIResponseWithError'
          description: ""
      security:
      - cookieAuth: []
      - oauth2:
        - household_member
      tags:
      - meal plans
    put:
      description: Operation for updating MealPlan
      operationId: UpdateMealPlan
      parameters:
      - in: path
        name: mealPlanID
        required: true
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/MealPlanUpdateRequestInput'
          application/xml:
            schema:
              $ref: '#/components/schemas/MealPlanUpdateRequestInput'
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                allOf:
                - $ref: '#/components/schemas/APIResponse'
                - properties:
                    data:
                      $ref: '#/components/schemas/MealPlan'
                      type: object
                  type: object
            application/xml:
              schema:
                allOf:
                - $ref: '#/components/schemas/APIResponse'
                - properties:
                    data:
                      $ref: '#/components/schemas/MealPlan'
                      type: object
                  type: object
          description: ""
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/APIResponseWithError'
            application/xml:
              schema:
                $ref: '#/components/schemas/APIResponseWithError'
          description: ""
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/APIResponseWithError'
            application/xml:
              schema:
                $ref: '#/components/schemas/APIResponseWithError'
          description: ""
        "500":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/APIResponseWithError'
            application/xml:
              schema:
                $ref: '#/components/schemas/APIResponseWithError'
          description: ""
      security:
      - cookieAuth: []
      - oauth2:
        - household_admin
      tags:
      - meal plans
  /api/v1/meal_plans/{mealPlanID}/events:
    get:
      description: Operation for fetching MealPlanEvent
      operationId: GetMealPlanEvents
      parameters:
      - description: How many results should appear in output, max is 250.
        in: query
        name: limit
        required: true
        schema:
          type: integer
      - description: What page of results should appear in output.
        in: query
        name: page
        required: true
        schema:
          type: integer
      - description: The latest CreatedAt date that should appear in output.
        in: query
        name: createdBefore
        required: true
        schema:
          type: string
      - description: The earliest CreatedAt date that should appear in output.
        in: query
        name: createdAfter
        required: true
        schema:
          type: string
      - description: The latest UpdatedAt date that should appear in output.
        in: query
        name: updatedBefore
        required: true
        schema:
          type: string
      - description: The earliest UpdatedAt date that should appear in output.
        in: query
        name: updatedAfter
        required: true
        schema:
          type: string
      - description: Whether or not to include archived results in output, limited
          to service admins.
        in: query
        name: includeArchived
        required: true
        schema:
          enum:
          - "true"
          - "false"
          type: string
      - description: The direction in which results should be sorted.
        in: query
        name: sortBy
        required: true
        schema:
          enum:
          - asc
          - desc
          type: string
      - in: path
        name: mealPlanID
        required: true
        schema:
          type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                allOf:
                - $ref: '#/components/schemas/APIResponse'
                - properties:
                    data:
                      items:
                        $ref: '#/components/schemas/MealPlanEvent'
                      type: array
                  type: object
            application/xml:
              schema:
                allOf:
                - $ref: '#/components/schemas/APIResponse'
                - properties:
                    data:
                      items:
                        $ref: '#/components/schemas/MealPlanEvent'
                      type: array
                  type: object
          description: ""
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/APIResponseWithError'
            application/xml:
              schema:
                $ref: '#/components/schemas/APIResponseWithError'
          description: ""
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/APIResponseWithError'
            application/xml:
              schema:
                $ref: '#/components/schemas/APIResponseWithError'
          description: ""
        "500":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/APIResponseWithError'
            application/xml:
              schema:
                $ref: '#/components/schemas/APIResponseWithError'
          description: ""
      security:
      - cookieAuth: []
      - oauth2:
        - household_member
      tags:
      - meal plans
      - meal plan events
    post:
      description: Operation for creating MealPlanEvent
      operationId: CreateMealPlanEvent
      parameters:
      - in: path
        name: mealPlanID
        required: true
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/MealPlanEventCreationRequestInput'
          application/xml:
            schema:
              $ref: '#/components/schemas/MealPlanEventCreationRequestInput'
        required: true
      responses:
        "201":
          content:
            application/json:
              schema:
                allOf:
                - $ref: '#/components/schemas/APIResponse'
                - properties:
                    data:
                      $ref: '#/components/schemas/MealPlanEvent'
                      type: object
                  type: object
            application/xml:
              schema:
                allOf:
                - $ref: '#/components/schemas/APIResponse'
                - properties:
                    data:
                      $ref: '#/components/schemas/MealPlanEvent'
                      type: object
                  type: object
          description: ""
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/APIResponseWithError'
            application/xml:
              schema:
                $ref: '#/components/schemas/APIResponseWithError'
          description: ""
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/APIResponseWithError'
            application/xml:
              schema:
                $ref: '#/components/schemas/APIResponseWithError'
          description: ""
        "500":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/APIResponseWithError'
            application/xml:
              schema:
                $ref: '#/components/schemas/APIResponseWithError'
          description: ""
      security:
      - cookieAuth: []
      - oauth2:
        - household_admin
      tags:
      - meal plans
      - meal plan events
  /api/v1/meal_plans/{mealPlanID}/events/{mealPlanEventID}:
    delete:
      description: Operation for archiving MealPlanEvent
      operationId: ArchiveMealPlanEvent
      parameters:
      - in: path
        name: mealPlanID
        required: true
        schema:
          type: string
      - in: path
        name: mealPlanEventID
        required: true
        schema:
          type: string
      responses:
        "202":
          content:
            application/json:
              schema:
                allOf:
                - $ref: '#/components/schemas/APIResponse'
                - properties:
                    data:
                      $ref: '#/components/schemas/MealPlanEvent'
                      type: object
                  type: object
            application/xml:
              schema:
                allOf:
                - $ref: '#/components/schemas/APIResponse'
                - properties:
                    data:
                      $ref: '#/components/schemas/MealPlanEvent'
                      type: object
                  type: object
          description: ""
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/APIResponseWithError'
            application/xml:
              schema:
                $ref: '#/components/schemas/APIResponseWithError'
          description: ""
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/APIResponseWithError'
            application/xml:
              schema:
                $ref: '#/components/schemas/APIResponseWithError'
          description: ""
        "500":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/APIResponseWithError'
            application/xml:
              schema:
                $ref: '#/components/schemas/APIResponseWithError'
          description: ""
      security:
      - cookieAuth: []
      - oauth2:
        - household_admin
      tags:
      - meal plans
      - meal plan events
    get:
      description: Operation for fetching MealPlanEvent
      operationId: GetMealPlanEvent
      parameters:
      - in: path
        name: mealPlanID
        required: true
        schema:
          type: string
      - in: path
        name: mealPlanEventID
        required: true
        schema:
          type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                allOf:
                - $ref: '#/components/schemas/APIResponse'
                - properties:
                    data:
                      $ref: '#/components/schemas/MealPlanEvent'
                      type: object
                  type: object
            application/xml:
              schema:
                allOf:
                - $ref: '#/components/schemas/APIResponse'
                - properties:
                    data:
                      $ref: '#/components/schemas/MealPlanEvent'
                      type: object
                  type: object
          description: ""
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/APIResponseWithError'
            application/xml:
              schema:
                $ref: '#/components/schemas/APIResponseWithError'
          description: ""
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/APIResponseWithError'
            application/xml:
              schema:
                $ref: '#/components/schemas/APIResponseWithError'
          description: ""
        "500":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/APIResponseWithError'
            application/xml:
              schema:
                $ref: '#/components/schemas/APIResponseWithError'
          description: ""
      security:
      - cookieAuth: []
      - oauth2:
        - household_member
      tags:
      - meal plans
      - meal plan events
    put:
      description: Operation for updating MealPlanEvent
      operationId: UpdateMealPlanEvent
      parameters:
      - in: path
        name: mealPlanID
        required: true
        schema:
          type: string
      - in: path
        name: mealPlanEventID
        required: true
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/MealPlanEventUpdateRequestInput'
          application/xml:
            schema:
              $ref: '#/components/schemas/MealPlanEventUpdateRequestInput'
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                allOf:
                - $ref: '#/components/schemas/APIResponse'
                - properties:
                    data:
                      $ref: '#/components/schemas/MealPlanEvent'
                      type: object
                  type: object
            application/xml:
              schema:
                allOf:
                - $ref: '#/components/schemas/APIResponse'
                - properties:
                    data:
                      $ref: '#/components/schemas/MealPlanEvent'
                      type: object
                  type: object
          description: ""
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/APIResponseWithError'
            application/xml:
              schema:
                $ref: '#/components/schemas/APIResponseWithError'
          description: ""
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/APIResponseWithError'
            application/xml:
              schema:
                $ref: '#/components/schemas/APIResponseWithError'
          description: ""
        "500":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/APIResponseWithError'
            application/xml:
              schema:
                $ref: '#/components/schemas/APIResponseWithError'
          description: ""
      security:
      - cookieAuth: []
      - oauth2:
        - household_admin
      tags:
      - meal plans
      - meal plan events
  /api/v1/meal_plans/{mealPlanID}/events/{mealPlanEventID}/options:
    get:
      description: Operation for fetching MealPlanOption
      operationId: GetMealPlanOptions
      parameters:
      - description: How many results should appear in output, max is 250.
        in: query
        name: limit
        required: true
        schema:
          type: integer
      - description: What page of results should appear in output.
        in: query
        name: page
        required: true
        schema:
          type: integer
      - description: The latest CreatedAt date that should appear in output.
        in: query
        name: createdBefore
        required: true
        schema:
          type: string
      - description: The earliest CreatedAt date that should appear in output.
        in: query
        name: createdAfter
        required: true
        schema:
          type: string
      - description: The latest UpdatedAt date that should appear in output.
        in: query
        name: updatedBefore
        required: true
        schema:
          type: string
      - description: The earliest UpdatedAt date that should appear in output.
        in: query
        name: updatedAfter
        required: true
        schema:
          type: string
      - description: Whether or not to include archived results in output, limited
          to service admins.
        in: query
        name: includeArchived
        required: true
        schema:
          enum:
          - "true"
          - "false"
          type: string
      - description: The direction in which results should be sorted.
        in: query
        name: sortBy
        required: true
        schema:
          enum:
          - asc
          - desc
          type: string
      - in: path
        name: mealPlanID
        required: true
        schema:
          type: string
      - in: path
        name: mealPlanEventID
        required: true
        schema:
          type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                allOf:
                - $ref: '#/components/schemas/APIResponse'
                - properties:
                    data:
                      items:
                        $ref: '#/components/schemas/MealPlanOption'
                      type: array
                  type: object
            application/xml:
              schema:
                allOf:
                - $ref: '#/components/schemas/APIResponse'
                - properties:
                    data:
                      items:
                        $ref: '#/components/schemas/MealPlanOption'
                      type: array
                  type: object
          description: ""
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/APIResponseWithError'
            application/xml:
              schema:
                $ref: '#/components/schemas/APIResponseWithError'
          description: ""
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/APIResponseWithError'
            application/xml:
              schema:
                $ref: '#/components/schemas/APIResponseWithError'
          description: ""
        "500":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/APIResponseWithError'
            application/xml:
              schema:
                $ref: '#/components/schemas/APIResponseWithError'
          description: ""
      security:
      - cookieAuth: []
      - oauth2:
        - household_member
      tags:
      - meal plans
      - meal plan events
      - meal plan options
    post:
      description: Operation for creating MealPlanOption
      operationId: CreateMealPlanOption
      parameters:
      - in: path
        name: mealPlanID
        required: true
        schema:
          type: string
      - in: path
        name: mealPlanEventID
        required: true
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/MealPlanOptionCreationRequestInput'
          application/xml:
            schema:
              $ref: '#/components/schemas/MealPlanOptionCreationRequestInput'
        required: true
      responses:
        "201":
          content:
            application/json:
              schema:
                allOf:
                - $ref: '#/components/schemas/APIResponse'
                - properties:
                    data:
                      $ref: '#/components/schemas/MealPlanOption'
                      type: object
                  type: object
            application/xml:
              schema:
                allOf:
                - $ref: '#/components/schemas/APIResponse'
                - properties:
                    data:
                      $ref: '#/components/schemas/MealPlanOption'
                      type: object
                  type: object
          description: ""
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/APIResponseWithError'
            application/xml:
              schema:
                $ref: '#/components/schemas/APIResponseWithError'
          description: ""
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/APIResponseWithError'
            application/xml:
              schema:
                $ref: '#/components/schemas/APIResponseWithError'
          description: ""
        "500":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/APIResponseWithError'
            application/xml:
              schema:
                $ref: '#/components/schemas/APIResponseWithError'
          description: ""
      security:
      - cookieAuth: []
      - oauth2:
        - household_admin
      tags:
      - meal plans
      - meal plan events
      - meal plan options
  /api/v1/meal_plans/{mealPlanID}/events/{mealPlanEventID}/options/{mealPlanOptionID}:
    delete:
      description: Operation for archiving MealPlanOption
      operationId: ArchiveMealPlanOption
      parameters:
      - in: path
        name: mealPlanID
        required: true
        schema:
          type: string
      - in: path
        name: mealPlanEventID
        required: true
        schema:
          type: string
      - in: path
        name: mealPlanOptionID
        required: true
        schema:
          type: string
      responses:
        "202":
          content:
            application/json:
              schema:
                allOf:
                - $ref: '#/components/schemas/APIResponse'
                - properties:
                    data:
                      $ref: '#/components/schemas/MealPlanOption'
                      type: object
                  type: object
            application/xml:
              schema:
                allOf:
                - $ref: '#/components/schemas/APIResponse'
                - properties:
                    data:
                      $ref: '#/components/schemas/MealPlanOption'
                      type: object
                  type: object
          description: ""
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/APIResponseWithError'
            application/xml:
              schema:
                $ref: '#/components/schemas/APIResponseWithError'
          description: ""
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/APIResponseWithError'
            application/xml:
              schema:
                $ref: '#/components/schemas/APIResponseWithError'
          description: ""
        "500":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/APIResponseWithError'
            application/xml:
              schema:
                $ref: '#/components/schemas/APIResponseWithError'
          description: ""
      security:
      - cookieAuth: []
      - oauth2:
        - household_admin
      tags:
      - meal plans
      - meal plan events
      - meal plan options
    get:
      description: Operation for fetching MealPlanOption
      operationId: GetMealPlanOption
      parameters:
      - in: path
        name: mealPlanID
        required: true
        schema:
          type: string
      - in: path
        name: mealPlanEventID
        required: true
        schema:
          type: string
      - in: path
        name: mealPlanOptionID
        required: true
        schema:
          type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                allOf:
[...]
