openapi: 3.1.0
info:
  contact:
    email: support@dinnerdonebetter.dev
  description: This is the spec for the Dinner Done Better API.
  servers:
  - url: https://api.dinnerdonebetter.dev
  tags:
  - description: Recipe-oriented routes
    name: recipes
  title: Dinner Done Better API
  version: 1.0.0
paths:
  /api/v1/admin/cycle_cookie_secret:
    post: {}
  /api/v1/admin/users/status:
    post: {}
  /api/v1/audit_log_entries/{auditLogEntryID}:
    get:
      parameters:
      - in: path
        name: auditLogEntryID
        required: true
        schema:
          type: string
  /api/v1/audit_log_entries/for_household:
    get: {}
  /api/v1/audit_log_entries/for_user:
    get: {}
  /api/v1/household_invitations/{householdInvitationID}/:
    get:
      parameters:
      - in: path
        name: householdInvitationID
        required: true
        schema:
          type: string
  /api/v1/household_invitations/{householdInvitationID}/accept:
    put:
      parameters:
      - in: path
        name: householdInvitationID
        required: true
        schema:
          type: string
      requestBody:
        $ref: '#/components/schemas/HouseholdInvitationUpdateRequestInput'
  /api/v1/household_invitations/{householdInvitationID}/cancel:
    put:
      parameters:
      - in: path
        name: householdInvitationID
        required: true
        schema:
          type: string
      requestBody:
        $ref: '#/components/schemas/HouseholdInvitationUpdateRequestInput'
  /api/v1/household_invitations/{householdInvitationID}/reject:
    put:
      parameters:
      - in: path
        name: householdInvitationID
        required: true
        schema:
          type: string
      requestBody:
        $ref: '#/components/schemas/HouseholdInvitationUpdateRequestInput'
  /api/v1/household_invitations/received:
    get: {}
  /api/v1/household_invitations/sent:
    get: {}
  /api/v1/households/:
    get:
      parameters:
      - in: query
        name: page
        required: true
        schema:
          type: integer
      - in: query
        name: createdBefore
        required: true
        schema:
          type: string
      - in: query
        name: createdAfter
        required: true
        schema:
          type: string
      - in: query
        name: updatedBefore
        required: true
        schema:
          type: string
      - in: query
        name: updatedAfter
        required: true
        schema:
          type: string
      - in: query
        name: includeArchived
        required: true
        schema:
          enum:
          - "1"
          - t
          - T
          - "true"
          - "TRUE"
          - "True"
          - "0"
          - f
          - F
          - "false"
          - "FALSE"
          - "False"
          type: string
      - in: query
        name: sortBy
        required: true
        schema:
          enum:
          - asc
          - desc
          type: string
    post:
      requestBody:
        $ref: '#/components/schemas/HouseholdCreationRequestInput'
  /api/v1/households/{householdID}/:
    delete:
      parameters:
      - in: path
        name: householdID
        required: true
        schema:
          type: string
    get:
      parameters:
      - in: path
        name: householdID
        required: true
        schema:
          type: string
    put:
      parameters:
      - in: path
        name: householdID
        required: true
        schema:
          type: string
      requestBody:
        $ref: '#/components/schemas/HouseholdCreationRequestInput'
  /api/v1/households/{householdID}/default:
    post:
      parameters:
      - in: path
        name: householdID
        required: true
        schema:
          type: string
  /api/v1/households/{householdID}/invitations/:
    post:
      parameters:
      - in: path
        name: householdID
        required: true
        schema:
          type: string
      requestBody:
        $ref: '#/components/schemas/HouseholdInvitationCreationRequestInput'
  /api/v1/households/{householdID}/invitations/{householdInvitationID}/:
    get:
      parameters:
      - in: path
        name: householdID
        required: true
        schema:
          type: string
      - in: path
        name: householdInvitationID
        required: true
        schema:
          type: string
  /api/v1/households/{householdID}/invite:
    post:
      parameters:
      - in: path
        name: householdID
        required: true
        schema:
          type: string
      requestBody:
        $ref: '#/components/schemas/HouseholdInvitationCreationRequestInput'
  /api/v1/households/{householdID}/members/{userID}:
    delete:
      parameters:
      - in: path
        name: householdID
        required: true
        schema:
          type: string
      - in: path
        name: userID
        required: true
        schema:
          type: string
  /api/v1/households/{householdID}/members/{userID}/permissions: {}
  /api/v1/households/{householdID}/transfer:
    post:
      parameters:
      - in: path
        name: householdID
        required: true
        schema:
          type: string
      requestBody:
        $ref: '#/components/schemas/HouseholdOwnershipTransferInput'
  /api/v1/households/current:
    get: {}
  /api/v1/households/instruments/:
    get:
      parameters:
      - in: query
        name: page
        required: true
        schema:
          type: integer
      - in: query
        name: createdBefore
        required: true
        schema:
          type: string
      - in: query
        name: createdAfter
        required: true
        schema:
          type: string
      - in: query
        name: updatedBefore
        required: true
        schema:
          type: string
      - in: query
        name: updatedAfter
        required: true
        schema:
          type: string
      - in: query
        name: includeArchived
        required: true
        schema:
          enum:
          - "1"
          - t
          - T
          - "true"
          - "TRUE"
          - "True"
          - "0"
          - f
          - F
          - "false"
          - "FALSE"
          - "False"
          type: string
      - in: query
        name: sortBy
        required: true
        schema:
          enum:
          - asc
          - desc
          type: string
    post:
      requestBody:
        $ref: '#/components/schemas/HouseholdInstrumentOwnershipCreationRequestInput'
  /api/v1/households/instruments/{householdInstrumentOwnershipID}/:
    delete:
      parameters:
      - in: path
        name: householdInstrumentOwnershipID
        required: true
        schema:
          type: string
    get:
      parameters:
      - in: path
        name: householdInstrumentOwnershipID
        required: true
        schema:
          type: string
    put:
      parameters:
      - in: path
        name: householdInstrumentOwnershipID
        required: true
        schema:
          type: string
      requestBody:
        $ref: '#/components/schemas/HouseholdInstrumentOwnershipUpdateRequestInput'
  /api/v1/meal_plans/:
    get:
      parameters:
      - in: query
        name: page
        required: true
        schema:
          type: integer
      - in: query
        name: createdBefore
        required: true
        schema:
          type: string
      - in: query
        name: createdAfter
        required: true
        schema:
          type: string
      - in: query
        name: updatedBefore
        required: true
        schema:
          type: string
      - in: query
        name: updatedAfter
        required: true
        schema:
          type: string
      - in: query
        name: includeArchived
        required: true
        schema:
          enum:
          - "1"
          - t
          - T
          - "true"
          - "TRUE"
          - "True"
          - "0"
          - f
          - F
          - "false"
          - "FALSE"
          - "False"
          type: string
      - in: query
        name: sortBy
        required: true
        schema:
          enum:
          - asc
          - desc
          type: string
    post:
      requestBody:
        $ref: '#/components/schemas/MealPlanCreationRequestInput'
  /api/v1/meal_plans/{mealPlanID}/:
    delete:
      parameters:
      - in: path
        name: mealPlanID
        required: true
        schema:
          type: string
    get:
      parameters:
      - in: path
        name: mealPlanID
        required: true
        schema:
          type: string
    put:
      parameters:
      - in: path
        name: mealPlanID
        required: true
        schema:
          type: string
      requestBody:
        $ref: '#/components/schemas/MealPlanUpdateRequestInput'
  /api/v1/meal_plans/{mealPlanID}/events/:
    get:
      parameters:
      - in: query
        name: page
        required: true
        schema:
          type: integer
      - in: query
        name: createdBefore
        required: true
        schema:
          type: string
      - in: query
        name: createdAfter
        required: true
        schema:
          type: string
      - in: query
        name: updatedBefore
        required: true
        schema:
          type: string
      - in: query
        name: updatedAfter
        required: true
        schema:
          type: string
      - in: query
        name: includeArchived
        required: true
        schema:
          enum:
          - "1"
          - t
          - T
          - "true"
          - "TRUE"
          - "True"
          - "0"
          - f
          - F
          - "false"
          - "FALSE"
          - "False"
          type: string
      - in: query
        name: sortBy
        required: true
        schema:
          enum:
          - asc
          - desc
          type: string
      - in: path
        name: mealPlanID
        required: true
        schema:
          type: string
    post:
      parameters:
      - in: path
        name: mealPlanID
        required: true
        schema:
          type: string
      requestBody:
        $ref: '#/components/schemas/MealPlanEventCreationRequestInput'
  /api/v1/meal_plans/{mealPlanID}/events/{mealPlanEventID}/:
    delete:
      parameters:
      - in: path
        name: mealPlanID
        required: true
        schema:
          type: string
      - in: path
        name: mealPlanEventID
        required: true
        schema:
          type: string
    get:
      parameters:
      - in: path
        name: mealPlanID
        required: true
        schema:
          type: string
      - in: path
        name: mealPlanEventID
        required: true
        schema:
          type: string
    put:
      parameters:
      - in: path
        name: mealPlanID
        required: true
        schema:
          type: string
      - in: path
        name: mealPlanEventID
        required: true
        schema:
          type: string
      requestBody:
        $ref: '#/components/schemas/MealPlanEventUpdateRequestInput'
  /api/v1/meal_plans/{mealPlanID}/events/{mealPlanEventID}/options/:
    get:
      parameters:
      - in: query
        name: page
        required: true
        schema:
          type: integer
      - in: query
        name: createdBefore
        required: true
        schema:
          type: string
      - in: query
        name: createdAfter
        required: true
        schema:
          type: string
      - in: query
        name: updatedBefore
        required: true
        schema:
          type: string
      - in: query
        name: updatedAfter
        required: true
        schema:
          type: string
      - in: query
        name: includeArchived
        required: true
        schema:
          enum:
          - "1"
          - t
          - T
          - "true"
          - "TRUE"
          - "True"
          - "0"
          - f
          - F
          - "false"
          - "FALSE"
          - "False"
          type: string
      - in: query
        name: sortBy
        required: true
        schema:
          enum:
          - asc
          - desc
          type: string
      - in: path
        name: mealPlanID
        required: true
        schema:
          type: string
      - in: path
        name: mealPlanEventID
        required: true
        schema:
          type: string
    post:
      parameters:
      - in: path
        name: mealPlanID
        required: true
        schema:
          type: string
      - in: path
        name: mealPlanEventID
        required: true
        schema:
          type: string
      requestBody:
        $ref: '#/components/schemas/MealPlanOptionCreationRequestInput'
  /api/v1/meal_plans/{mealPlanID}/events/{mealPlanEventID}/options/{mealPlanOptionID}/:
    delete:
      parameters:
      - in: path
        name: mealPlanID
        required: true
        schema:
          type: string
      - in: path
        name: mealPlanEventID
        required: true
        schema:
          type: string
      - in: path
        name: mealPlanOptionID
        required: true
        schema:
          type: string
    get:
      parameters:
      - in: path
        name: mealPlanID
        required: true
        schema:
          type: string
      - in: path
        name: mealPlanEventID
        required: true
        schema:
          type: string
      - in: path
        name: mealPlanOptionID
        required: true
        schema:
          type: string
    put:
      parameters:
      - in: path
        name: mealPlanID
        required: true
        schema:
          type: string
      - in: path
        name: mealPlanEventID
        required: true
        schema:
          type: string
      - in: path
        name: mealPlanOptionID
        required: true
        schema:
          type: string
      requestBody:
        $ref: '#/components/schemas/MealPlanOptionUpdateRequestInput'
  /api/v1/meal_plans/{mealPlanID}/events/{mealPlanEventID}/options/{mealPlanOptionID}/votes/:
    get:
      parameters:
      - in: query
        name: page
        required: true
        schema:
          type: integer
      - in: query
        name: createdBefore
        required: true
        schema:
          type: string
      - in: query
        name: createdAfter
        required: true
        schema:
          type: string
      - in: query
        name: updatedBefore
        required: true
        schema:
          type: string
      - in: query
        name: updatedAfter
        required: true
        schema:
          type: string
      - in: query
        name: includeArchived
        required: true
        schema:
          enum:
          - "1"
          - t
          - T
          - "true"
          - "TRUE"
          - "True"
          - "0"
          - f
          - F
          - "false"
          - "FALSE"
          - "False"
          type: string
      - in: query
        name: sortBy
        required: true
        schema:
          enum:
          - asc
          - desc
          type: string
      - in: path
        name: mealPlanID
        required: true
        schema:
          type: string
      - in: path
        name: mealPlanEventID
        required: true
        schema:
          type: string
      - in: path
        name: mealPlanOptionID
        required: true
        schema:
          type: string
  /api/v1/meal_plans/{mealPlanID}/events/{mealPlanEventID}/options/{mealPlanOptionID}/votes/{mealPlanOptionVoteID}/:
    delete:
      parameters:
      - in: path
        name: mealPlanID
        required: true
        schema:
          type: string
      - in: path
        name: mealPlanEventID
        required: true
        schema:
          type: string
      - in: path
        name: mealPlanOptionID
        required: true
        schema:
          type: string
      - in: path
        name: mealPlanOptionVoteID
        required: true
        schema:
          type: string
    get:
      parameters:
      - in: path
        name: mealPlanID
        required: true
        schema:
          type: string
      - in: path
        name: mealPlanEventID
        required: true
        schema:
          type: string
      - in: path
        name: mealPlanOptionID
        required: true
        schema:
          type: string
      - in: path
        name: mealPlanOptionVoteID
        required: true
        schema:
          type: string
    put:
      parameters:
      - in: path
        name: mealPlanID
        required: true
        schema:
          type: string
      - in: path
        name: mealPlanEventID
        required: true
        schema:
          type: string
      - in: path
        name: mealPlanOptionID
        required: true
        schema:
          type: string
      - in: path
        name: mealPlanOptionVoteID
        required: true
        schema:
          type: string
      requestBody:
        $ref: '#/components/schemas/MealPlanOptionVoteUpdateRequestInput'
  /api/v1/meal_plans/{mealPlanID}/events/{mealPlanEventID}/vote:
    post:
      parameters:
      - in: path
        name: mealPlanID
        required: true
        schema:
          type: string
      - in: path
        name: mealPlanEventID
        required: true
        schema:
          type: string
      requestBody:
        $ref: '#/components/schemas/MealPlanOptionVoteCreationRequestInput'
  /api/v1/meal_plans/{mealPlanID}/finalize:
    post:
      parameters:
      - in: path
        name: mealPlanID
        required: true
        schema:
          type: string
  /api/v1/meal_plans/{mealPlanID}/grocery_list_items/:
    get:
      parameters:
      - in: query
        name: page
        required: true
        schema:
          type: integer
      - in: query
        name: createdBefore
        required: true
        schema:
          type: string
      - in: query
        name: createdAfter
        required: true
        schema:
          type: string
      - in: query
        name: updatedBefore
        required: true
        schema:
          type: string
      - in: query
        name: updatedAfter
        required: true
        schema:
          type: string
      - in: query
        name: includeArchived
        required: true
        schema:
          enum:
          - "1"
          - t
          - T
          - "true"
          - "TRUE"
          - "True"
          - "0"
          - f
          - F
          - "false"
          - "FALSE"
          - "False"
          type: string
      - in: query
        name: sortBy
        required: true
        schema:
          enum:
          - asc
          - desc
          type: string
      - in: path
        name: mealPlanID
        required: true
        schema:
          type: string
    post:
      parameters:
      - in: path
        name: mealPlanID
        required: true
        schema:
          type: string
      requestBody:
        $ref: '#/components/schemas/MealPlanGroceryListItemCreationRequestInput'
  /api/v1/meal_plans/{mealPlanID}/grocery_list_items/{mealPlanGroceryListItemID}/:
    delete:
      parameters:
      - in: path
        name: mealPlanID
        required: true
        schema:
          type: string
      - in: path
        name: mealPlanGroceryListItemID
        required: true
        schema:
          type: string
    get:
      parameters:
      - in: path
        name: mealPlanID
        required: true
        schema:
          type: string
      - in: path
        name: mealPlanGroceryListItemID
        required: true
        schema:
          type: string
    put:
      parameters:
      - in: path
        name: mealPlanID
        required: true
        schema:
          type: string
      - in: path
        name: mealPlanGroceryListItemID
        required: true
        schema:
          type: string
      requestBody:
        $ref: '#/components/schemas/MealPlanGroceryListItemUpdateRequestInput'
  /api/v1/meal_plans/{mealPlanID}/tasks/:
    get:
      parameters:
      - in: query
        name: page
        required: true
        schema:
          type: integer
      - in: query
        name: createdBefore
        required: true
        schema:
          type: string
      - in: query
        name: createdAfter
        required: true
        schema:
          type: string
      - in: query
        name: updatedBefore
        required: true
        schema:
          type: string
      - in: query
        name: updatedAfter
        required: true
        schema:
          type: string
      - in: query
        name: includeArchived
        required: true
        schema:
          enum:
          - "1"
          - t
          - T
          - "true"
          - "TRUE"
          - "True"
          - "0"
          - f
          - F
          - "false"
          - "FALSE"
          - "False"
          type: string
      - in: query
        name: sortBy
        required: true
        schema:
          enum:
          - asc
          - desc
          type: string
      - in: path
        name: mealPlanID
        required: true
        schema:
          type: string
    post:
      parameters:
      - in: path
        name: mealPlanID
        required: true
        schema:
          type: string
      requestBody:
        $ref: '#/components/schemas/MealPlanTaskCreationRequestInput'
  /api/v1/meal_plans/{mealPlanID}/tasks/{mealPlanTaskID}/:
    get:
      parameters:
      - in: path
        name: mealPlanID
        required: true
        schema:
          type: string
      - in: path
        name: mealPlanTaskID
        required: true
        schema:
          type: string
  /api/v1/meals/:
    get:
      parameters:
      - in: query
        name: page
        required: true
        schema:
          type: integer
      - in: query
        name: createdBefore
        required: true
        schema:
          type: string
      - in: query
        name: createdAfter
        required: true
        schema:
          type: string
      - in: query
        name: updatedBefore
        required: true
        schema:
          type: string
      - in: query
        name: updatedAfter
        required: true
        schema:
          type: string
      - in: query
        name: includeArchived
        required: true
        schema:
          enum:
          - "1"
          - t
          - T
          - "true"
          - "TRUE"
          - "True"
          - "0"
          - f
          - F
          - "false"
          - "FALSE"
          - "False"
          type: string
      - in: query
        name: sortBy
        required: true
        schema:
          enum:
          - asc
          - desc
          type: string
    post:
      requestBody:
        $ref: '#/components/schemas/MealCreationRequestInput'
  /api/v1/meals/{mealID}/:
    delete:
      parameters:
      - in: path
        name: mealID
        required: true
        schema:
          type: string
    get:
      parameters:
      - in: path
        name: mealID
        required: true
        schema:
          type: string
  /api/v1/meals/search:
    get: {}
  /api/v1/oauth2_clients/:
    get:
      parameters:
      - in: query
        name: page
        required: true
        schema:
          type: integer
      - in: query
        name: createdBefore
        required: true
        schema:
          type: string
      - in: query
        name: createdAfter
        required: true
        schema:
          type: string
      - in: query
        name: updatedBefore
        required: true
        schema:
          type: string
      - in: query
        name: updatedAfter
        required: true
        schema:
          type: string
      - in: query
        name: includeArchived
        required: true
        schema:
          enum:
          - "1"
          - t
          - T
          - "true"
          - "TRUE"
          - "True"
          - "0"
          - f
          - F
          - "false"
          - "FALSE"
          - "False"
          type: string
      - in: query
        name: sortBy
        required: true
        schema:
          enum:
          - asc
          - desc
          type: string
    post:
      requestBody:
        $ref: '#/components/schemas/OAuth2ClientCreationRequestInput'
  /api/v1/oauth2_clients/{oauth2ClientID}/:
    delete: {}
    get: {}
  /api/v1/recipes/:
    get:
      parameters:
      - in: query
        name: page
        required: true
        schema:
          type: integer
      - in: query
        name: createdBefore
        required: true
        schema:
          type: string
      - in: query
        name: createdAfter
        required: true
        schema:
          type: string
      - in: query
        name: updatedBefore
        required: true
        schema:
          type: string
      - in: query
        name: updatedAfter
        required: true
        schema:
          type: string
      - in: query
        name: includeArchived
        required: true
        schema:
          enum:
          - "1"
          - t
          - T
          - "true"
          - "TRUE"
          - "True"
          - "0"
          - f
          - F
          - "false"
          - "FALSE"
          - "False"
          type: string
      - in: query
        name: sortBy
        required: true
        schema:
          enum:
          - asc
          - desc
          type: string
    post:
      requestBody:
        $ref: '#/components/schemas/RecipeCreationRequestInput'
  /api/v1/recipes/{recipeID}/:
    delete:
      parameters:
      - in: path
        name: recipeID
        required: true
        schema:
          type: string
    get:
      parameters:
      - in: path
        name: recipeID
        required: true
        schema:
          type: string
    put:
      parameters:
      - in: path
        name: recipeID
        required: true
        schema:
          type: string
      requestBody:
        $ref: '#/components/schemas/RecipeUpdateRequestInput'
  /api/v1/recipes/{recipeID}/clone:
    post:
      parameters:
      - in: path
        name: recipeID
        required: true
        schema:
          type: string
  /api/v1/recipes/{recipeID}/dag:
    get:
      parameters:
      - in: path
        name: recipeID
        required: true
        schema:
          type: string
  /api/v1/recipes/{recipeID}/images:
    post:
      parameters:
      - in: path
        name: recipeID
        required: true
        schema:
          type: string
  /api/v1/recipes/{recipeID}/mermaid:
    get:
      parameters:
      - in: path
        name: recipeID
        required: true
        schema:
          type: string
  /api/v1/recipes/{recipeID}/prep_steps:
    get:
      parameters:
      - in: path
        name: recipeID
        required: true
        schema:
          type: string
  /api/v1/recipes/{recipeID}/prep_tasks/:
    get:
      parameters:
      - in: query
        name: page
        required: true
        schema:
          type: integer
      - in: query
        name: createdBefore
        required: true
        schema:
          type: string
      - in: query
        name: createdAfter
        required: true
        schema:
          type: string
      - in: query
        name: updatedBefore
        required: true
        schema:
          type: string
      - in: query
        name: updatedAfter
        required: true
        schema:
          type: string
      - in: query
        name: includeArchived
        required: true
        schema:
          enum:
          - "1"
          - t
          - T
          - "true"
          - "TRUE"
          - "True"
          - "0"
          - f
          - F
          - "false"
          - "FALSE"
          - "False"
          type: string
      - in: query
        name: sortBy
        required: true
        schema:
          enum:
          - asc
          - desc
          type: string
      - in: path
        name: recipeID
        required: true
        schema:
          type: string
    post:
      parameters:
      - in: path
        name: recipeID
        required: true
        schema:
          type: string
      requestBody:
        $ref: '#/components/schemas/RecipePrepTaskCreationRequestInput'
  /api/v1/recipes/{recipeID}/prep_tasks/{recipePrepTaskID}/:
    delete:
      parameters:
      - in: path
        name: recipeID
        required: true
        schema:
          type: string
      - in: path
        name: recipePrepTaskID
        required: true
        schema:
          type: string
    get:
      parameters:
      - in: path
        name: recipeID
        required: true
        schema:
          type: string
      - in: path
        name: recipePrepTaskID
        required: true
        schema:
          type: string
    put:
      parameters:
      - in: path
        name: recipeID
        required: true
        schema:
          type: string
      - in: path
        name: recipePrepTaskID
        required: true
        schema:
          type: string
      requestBody:
        $ref: '#/components/schemas/RecipePrepTaskUpdateRequestInput'
  /api/v1/recipes/{recipeID}/ratings/:
    get:
      parameters:
      - in: query
        name: page
        required: true
        schema:
          type: integer
      - in: query
        name: createdBefore
        required: true
        schema:
          type: string
      - in: query
        name: createdAfter
        required: true
        schema:
          type: string
      - in: query
        name: updatedBefore
        required: true
        schema:
          type: string
      - in: query
        name: updatedAfter
        required: true
        schema:
          type: string
      - in: query
        name: includeArchived
        required: true
        schema:
          enum:
          - "1"
          - t
          - T
          - "true"
          - "TRUE"
          - "True"
          - "0"
          - f
          - F
          - "false"
          - "FALSE"
          - "False"
          type: string
      - in: query
        name: sortBy
        required: true
        schema:
          enum:
          - asc
          - desc
          type: string
      - in: path
        name: recipeID
        required: true
        schema:
          type: string
    post:
      parameters:
      - in: path
        name: recipeID
        required: true
        schema:
          type: string
      requestBody:
        $ref: '#/components/schemas/RecipeRatingCreationRequestInput'
  /api/v1/recipes/{recipeID}/ratings/{recipeRatingID}/:
    delete:
      parameters:
      - in: path
        name: recipeID
        required: true
        schema:
          type: string
      - in: path
        name: recipeRatingID
        required: true
        schema:
          type: string
    get:
      parameters:
      - in: path
        name: recipeID
        required: true
        schema:
          type: string
      - in: path
        name: recipeRatingID
        required: true
        schema:
          type: string
    put:
      parameters:
      - in: path
        name: recipeID
        required: true
        schema:
          type: string
      - in: path
        name: recipeRatingID
        required: true
        schema:
          type: string
      requestBody:
        $ref: '#/components/schemas/RecipeRatingUpdateRequestInput'
  /api/v1/recipes/{recipeID}/steps/:
    get:
      parameters:
      - in: query
        name: page
        required: true
        schema:
          type: integer
      - in: query
        name: createdBefore
        required: true
        schema:
          type: string
      - in: query
        name: createdAfter
        required: true
        schema:
          type: string
      - in: query
        name: updatedBefore
        required: true
        schema:
          type: string
      - in: query
        name: updatedAfter
        required: true
        schema:
          type: string
      - in: query
        name: includeArchived
        required: true
        schema:
          enum:
          - "1"
          - t
          - T
          - "true"
          - "TRUE"
          - "True"
          - "0"
          - f
          - F
          - "false"
          - "FALSE"
          - "False"
          type: string
      - in: query
        name: sortBy
        required: true
        schema:
          enum:
          - asc
          - desc
          type: string
      - in: path
        name: recipeID
        required: true
        schema:
          type: string
    post:
      parameters:
      - in: path
        name: recipeID
        required: true
        schema:
          type: string
      requestBody:
        $ref: '#/components/schemas/RecipeStepCreationRequestInput'
  /api/v1/recipes/{recipeID}/steps/{recipeStepID}/:
    delete:
      parameters:
      - in: path
        name: recipeID
        required: true
        schema:
          type: string
      - in: path
        name: recipeStepID
        required: true
        schema:
          type: string
    get:
      parameters:
      - in: path
        name: recipeID
        required: true
        schema:
          type: string
      - in: path
        name: recipeStepID
        required: true
        schema:
          type: string
    put:
      parameters:
      - in: path
        name: recipeID
        required: true
        schema:
          type: string
      - in: path
        name: recipeStepID
        required: true
        schema:
          type: string
      requestBody:
        $ref: '#/components/schemas/RecipeStepUpdateRequestInput'
  /api/v1/recipes/{recipeID}/steps/{recipeStepID}/completion_conditions/:
    get:
      parameters:
      - in: query
        name: page
        required: true
        schema:
          type: integer
      - in: query
        name: createdBefore
        required: true
        schema:
          type: string
      - in: query
        name: createdAfter
        required: true
        schema:
          type: string
      - in: query
        name: updatedBefore
        required: true
        schema:
          type: string
      - in: query
        name: updatedAfter
        required: true
        schema:
          type: string
      - in: query
        name: includeArchived
        required: true
        schema:
          enum:
          - "1"
          - t
          - T
          - "true"
          - "TRUE"
          - "True"
          - "0"
          - f
          - F
          - "false"
          - "FALSE"
          - "False"
          type: string
      - in: query
        name: sortBy
        required: true
        schema:
          enum:
          - asc
          - desc
          type: string
      - in: path
        name: recipeID
        required: true
        schema:
          type: string
      - in: path
        name: recipeStepID
        required: true
        schema:
          type: string
    post:
      parameters:
      - in: path
        name: recipeID
        required: true
        schema:
          type: string
      - in: path
        name: recipeStepID
        required: true
        schema:
          type: string
      requestBody:
        $ref: '#/components/schemas/RecipeStepCompletionConditionCreationRequestInput'
  /api/v1/recipes/{recipeID}/steps/{recipeStepID}/completion_conditions/{recipeStepCompletionConditionID}/:
    delete:
      parameters:
      - in: path
        name: recipeID
        required: true
        schema:
          type: string
      - in: path
        name: recipeStepID
        required: true
        schema:
          type: string
      - in: path
        name: recipeStepCompletionConditionID
        required: true
        schema:
          type: string
    get:
      parameters:
      - in: path
        name: recipeID
        required: true
        schema:
          type: string
      - in: path
        name: recipeStepID
        required: true
        schema:
          type: string
      - in: path
        name: recipeStepCompletionConditionID
        required: true
        schema:
          type: string
    put:
      parameters:
      - in: path
        name: recipeID
        required: true
        schema:
          type: string
      - in: path
        name: recipeStepID
        required: true
        schema:
          type: string
      - in: path
        name: recipeStepCompletionConditionID
        required: true
        schema:
          type: string
      requestBody:
        $ref: '#/components/schemas/RecipeStepCompletionConditionUpdateRequestInput'
  /api/v1/recipes/{recipeID}/steps/{recipeStepID}/images:
    post:
      parameters:
      - in: path
        name: recipeID
        required: true
        schema:
          type: string
      - in: path
        name: recipeStepID
        required: true
        schema:
          type: string
  /api/v1/recipes/{recipeID}/steps/{recipeStepID}/ingredients/:
    get:
      parameters:
      - in: query
        name: page
        required: true
        schema:
          type: integer
      - in: query
        name: createdBefore
        required: true
        schema:
          type: string
      - in: query
        name: createdAfter
        required: true
        schema:
          type: string
      - in: query
        name: updatedBefore
        required: true
        schema:
          type: string
      - in: query
        name: updatedAfter
        required: true
        schema:
          type: string
      - in: query
        name: includeArchived
        required: true
        schema:
          enum:
          - "1"
          - t
          - T
          - "true"
          - "TRUE"
          - "True"
          - "0"
          - f
          - F
          - "false"
          - "FALSE"
          - "False"
          type: string
      - in: query
        name: sortBy
        required: true
        schema:
          enum:
          - asc
          - desc
          type: string
      - in: path
        name: recipeID
        required: true
        schema:
          type: string
      - in: path
        name: recipeStepID
        required: true
        schema:
          type: string
    post:
      parameters:
      - in: path
        name: recipeID
        required: true
        schema:
          type: string
      - in: path
        name: recipeStepID
        required: true
        schema:
          type: string
      requestBody:
        $ref: '#/components/schemas/RecipeStepIngredientCreationRequestInput'
  /api/v1/recipes/{recipeID}/steps/{recipeStepID}/ingredients/{recipeStepIngredientID}/:
    delete:
      parameters:
      - in: path
        name: recipeID
        required: true
        schema:
          type: string
      - in: path
        name: recipeStepID
        required: true
        schema:
          type: string
      - in: path
        name: recipeStepIngredientID
        required: true
        schema:
          type: string
    get:
      parameters:
      - in: path
        name: recipeID
        required: true
        schema:
          type: string
      - in: path
        name: recipeStepID
        required: true
        schema:
          type: string
      - in: path
        name: recipeStepIngredientID
        required: true
        schema:
          type: string
    put:
      parameters:
      - in: path
        name: recipeID
        required: true
        schema:
          type: string
      - in: path
        name: recipeStepID
        required: true
        schema:
          type: string
      - in: path
        name: recipeStepIngredientID
        required: true
        schema:
          type: string
      requestBody:
        $ref: '#/components/schemas/RecipeStepIngredientUpdateRequestInput'
  /api/v1/recipes/{recipeID}/steps/{recipeStepID}/instruments/:
    get:
      parameters:
      - in: query
        name: page
        required: true
        schema:
          type: integer
      - in: query
        name: createdBefore
        required: true
        schema:
          type: string
      - in: query
        name: createdAfter
        required: true
        schema:
          type: string
      - in: query
        name: updatedBefore
        required: true
        schema:
          type: string
      - in: query
        name: updatedAfter
        required: true
        schema:
          type: string
      - in: query
        name: includeArchived
        required: true
        schema:
          enum:
          - "1"
          - t
          - T
          - "true"
          - "TRUE"
          - "True"
          - "0"
          - f
          - F
          - "false"
          - "FALSE"
          - "False"
          type: string
      - in: query
        name: sortBy
        required: true
        schema:
          enum:
          - asc
          - desc
          type: string
      - in: path
        name: recipeID
        required: true
        schema:
          type: string
      - in: path
        name: recipeStepID
        required: true
        schema:
          type: string
    post:
      parameters:
      - in: path
        name: recipeID
        required: true
        schema:
          type: string
      - in: path
        name: recipeStepID
        required: true
        schema:
          type: string
      requestBody:
        $ref: '#/components/schemas/RecipeStepInstrumentCreationRequestInput'
  /api/v1/recipes/{recipeID}/steps/{recipeStepID}/instruments/{recipeStepInstrumentID}/:
    delete:
      parameters:
      - in: path
        name: recipeID
        required: true
        schema:
          type: string
      - in: path
        name: recipeStepID
        required: true
        schema:
          type: string
      - in: path
        name: recipeStepInstrumentID
        required: true
        schema:
          type: string
    get:
      parameters:
      - in: path
        name: recipeID
        required: true
        schema:
          type: string
      - in: path
        name: recipeStepID
        required: true
        schema:
          type: string
      - in: path
        name: recipeStepInstrumentID
        required: true
        schema:
          type: string
    put:
      parameters:
      - in: path
        name: recipeID
        required: true
        schema:
          type: string
      - in: path
        name: recipeStepID
        required: true
        schema:
          type: string
      - in: path
        name: recipeStepInstrumentID
        required: true
        schema:
          type: string
      requestBody:
        $ref: '#/components/schemas/RecipeStepInstrumentUpdateRequestInput'
  /api/v1/recipes/{recipeID}/steps/{recipeStepID}/products/:
    get:
      parameters:
      - in: query
        name: page
        required: true
        schema:
          type: integer
      - in: query
        name: createdBefore
        required: true
        schema:
          type: string
      - in: query
        name: createdAfter
        required: true
        schema:
          type: string
      - in: query
        name: updatedBefore
        required: true
        schema:
          type: string
      - in: query
        name: updatedAfter
        required: true
        schema:
          type: string
      - in: query
        name: includeArchived
        required: true
        schema:
          enum:
          - "1"
          - t
          - T
          - "true"
          - "TRUE"
          - "True"
          - "0"
          - f
          - F
          - "false"
          - "FALSE"
          - "False"
          type: string
      - in: query
        name: sortBy
        required: true
        schema:
          enum:
          - asc
          - desc
          type: string
      - in: path
        name: recipeID
        required: true
        schema:
          type: string
      - in: path
        name: recipeStepID
        required: true
        schema:
          type: string
    post:
      parameters:
      - in: path
        name: recipeID
        required: true
        schema:
          type: string
      - in: path
        name: recipeStepID
        required: true
        schema:
          type: string
      requestBody:
        $ref: '#/components/schemas/RecipeStepProductCreationRequestInput'
  /api/v1/recipes/{recipeID}/steps/{recipeStepID}/products/{recipeStepProductID}/:
    delete:
      parameters:
      - in: path
        name: recipeID
        required: true
        schema:
          type: string
      - in: path
        name: recipeStepID
        required: true
        schema:
          type: string
      - in: path
        name: recipeStepProductID
        required: true
        schema:
          type: string
    get:
      parameters:
      - in: path
        name: recipeID
        required: true
        schema:
          type: string
      - in: path
        name: recipeStepID
        required: true
        schema:
          type: string
      - in: path
        name: recipeStepProductID
        required: true
        schema:
          type: string
    put:
      parameters:
      - in: path
        name: recipeID
        required: true
        schema:
          type: string
      - in: path
        name: recipeStepID
        required: true
        schema:
          type: string
      - in: path
        name: recipeStepProductID
        required: true
        schema:
          type: string
      requestBody:
        $ref: '#/components/schemas/RecipeStepProductUpdateRequestInput'
  /api/v1/recipes/{recipeID}/steps/{recipeStepID}/vessels/:
    get:
      parameters:
      - in: query
        name: page
        required: true
        schema:
          type: integer
      - in: query
        name: createdBefore
        required: true
        schema:
          type: string
      - in: query
        name: createdAfter
        required: true
        schema:
          type: string
      - in: query
        name: updatedBefore
        required: true
        schema:
          type: string
      - in: query
        name: updatedAfter
        required: true
        schema:
          type: string
      - in: query
        name: includeArchived
        required: true
        schema:
          enum:
          - "1"
          - t
          - T
          - "true"
          - "TRUE"
          - "True"
          - "0"
          - f
          - F
          - "false"
          - "FALSE"
          - "False"
          type: string
      - in: query
        name: sortBy
        required: true
        schema:
          enum:
          - asc
          - desc
          type: string
      - in: path
        name: recipeID
        required: true
        schema:
          type: string
      - in: path
        name: recipeStepID
        required: true
        schema:
          type: string
    post:
      parameters:
      - in: path
        name: recipeID
        required: true
        schema:
          type: string
      - in: path
        name: recipeStepID
        required: true
        schema:
          type: string
      requestBody:
        $ref: '#/components/schemas/RecipeStepVesselCreationRequestInput'
  /api/v1/recipes/{recipeID}/steps/{recipeStepID}/vessels/{recipeStepVesselID}/:
    delete:
      parameters:
      - in: path
        name: recipeID
        required: true
        schema:
          type: string
      - in: path
        name: recipeStepID
        required: true
        schema:
          type: string
      - in: path
        name: recipeStepVesselID
        required: true
        schema:
          type: string
    get:
      parameters:
      - in: path
        name: recipeID
        required: true
        schema:
          type: string
      - in: path
        name: recipeStepID
        required: true
        schema:
          type: string
      - in: path
        name: recipeStepVesselID
        required: true
        schema:
          type: string
    put:
      parameters:
      - in: path
        name: recipeID
        required: true
        schema:
          type: string
      - in: path
        name: recipeStepID
        required: true
        schema:
          type: string
      - in: path
        name: recipeStepVesselID
        required: true
        schema:
          type: string
      requestBody:
        $ref: '#/components/schemas/RecipeStepVesselUpdateRequestInput'
  /api/v1/recipes/search:
    get: {}
  /api/v1/settings/:
    get:
      parameters:
      - in: query
        name: page
        required: true
        schema:
          type: integer
      - in: query
        name: createdBefore
        required: true
        schema:
          type: string
      - in: query
        name: createdAfter
        required: true
        schema:
          type: string
      - in: query
        name: updatedBefore
        required: true
        schema:
          type: string
      - in: query
        name: updatedAfter
        required: true
        schema:
          type: string
      - in: query
        name: includeArchived
        required: true
        schema:
          enum:
          - "1"
          - t
          - T
          - "true"
          - "TRUE"
          - "True"
          - "0"
          - f
          - F
          - "false"
          - "FALSE"
          - "False"
          type: string
      - in: query
        name: sortBy
        required: true
        schema:
          enum:
          - asc
          - desc
          type: string
    post:
      requestBody:
        $ref: '#/components/schemas/ServiceSettingCreationRequestInput'
  /api/v1/settings/{serviceSettingID}/:
    delete:
      parameters:
      - in: path
        name: serviceSettingID
        required: true
        schema:
          type: string
    get:
      parameters:
      - in: path
        name: serviceSettingID
        required: true
        schema:
          type: string
  /api/v1/settings/configurations/:
    post:
      requestBody:
        $ref: '#/components/schemas/ServiceSettingConfigurationCreationRequestInput'
  /api/v1/settings/configurations/{serviceSettingConfigurationID}:
    delete:
      parameters:
      - in: path
        name: serviceSettingConfigurationID
        required: true
        schema:
          type: string
    put:
      parameters:
      - in: path
        name: serviceSettingConfigurationID
        required: true
        schema:
          type: string
      requestBody:
        $ref: '#/components/schemas/ServiceSettingConfigurationUpdateRequestInput'
  /api/v1/settings/configurations/household:
    get: {}
  /api/v1/settings/configurations/user:
    get: {}
  /api/v1/settings/configurations/user/{serviceSettingConfigurationName}:
    get:
      parameters:
      - in: path
        name: serviceSettingConfigurationName
        required: true
        schema:
          type: string
  /api/v1/settings/search:
    get: {}
  /api/v1/user_ingredient_preferences/:
    get:
      parameters:
      - in: query
        name: page
        required: true
        schema:
          type: integer
      - in: query
        name: createdBefore
        required: true
        schema:
          type: string
      - in: query
        name: createdAfter
        required: true
        schema:
          type: string
      - in: query
        name: updatedBefore
        required: true
        schema:
          type: string
      - in: query
        name: updatedAfter
        required: true
        schema:
          type: string
      - in: query
        name: includeArchived
        required: true
        schema:
          enum:
          - "1"
          - t
          - T
          - "true"
          - "TRUE"
          - "True"
          - "0"
          - f
          - F
          - "false"
          - "FALSE"
          - "False"
          type: string
      - in: query
        name: sortBy
        required: true
        schema:
          enum:
          - asc
          - desc
          type: string
    post:
      requestBody:
        $ref: '#/components/schemas/UserIngredientPreferenceCreationRequestInput'
  /api/v1/user_ingredient_preferences/{userIngredientPreferenceID}/:
    delete:
      parameters:
      - in: path
        name: userIngredientPreferenceID
        required: true
        schema:
          type: string
    put:
      parameters:
      - in: path
        name: userIngredientPreferenceID
        required: true
        schema:
          type: string
      requestBody:
        $ref: '#/components/schemas/UserIngredientPreferenceUpdateRequestInput'
  /api/v1/user_notifications/:
    get:
      parameters:
      - in: query
        name: page
        required: true
        schema:
          type: integer
      - in: query
        name: createdBefore
        required: true
        schema:
          type: string
      - in: query
        name: createdAfter
        required: true
        schema:
          type: string
      - in: query
        name: updatedBefore
        required: true
        schema:
          type: string
      - in: query
        name: updatedAfter
        required: true
        schema:
          type: string
      - in: query
        name: includeArchived
        required: true
        schema:
          enum:
          - "1"
          - t
          - T
          - "true"
          - "TRUE"
          - "True"
          - "0"
          - f
          - F
          - "false"
          - "FALSE"
          - "False"
          type: string
      - in: query
        name: sortBy
        required: true
        schema:
          enum:
          - asc
          - desc
          type: string
    post:
      requestBody:
        $ref: '#/components/schemas/UserNotificationCreationRequestInput'
  /api/v1/user_notifications/{userNotificationID}/:
    get:
      parameters:
      - in: path
        name: userNotificationID
        required: true
        schema:
          type: string
  /api/v1/users/:
    get:
      parameters:
      - in: query
        name: page
        required: true
        schema:
          type: integer
      - in: query
        name: createdBefore
        required: true
        schema:
          type: string
      - in: query
        name: createdAfter
        required: true
        schema:
          type: string
      - in: query
        name: updatedBefore
        required: true
        schema:
          type: string
      - in: query
        name: updatedAfter
        required: true
        schema:
          type: string
      - in: query
        name: includeArchived
        required: true
        schema:
          enum:
          - "1"
          - t
          - T
          - "true"
          - "TRUE"
          - "True"
          - "0"
          - f
          - F
          - "false"
          - "FALSE"
          - "False"
          type: string
      - in: query
        name: sortBy
        required: true
        schema:
          enum:
          - asc
          - desc
          type: string
  /api/v1/users/{userID}/:
    delete:
      parameters:
      - in: path
        name: userID
        required: true
        schema:
          type: string
    get:
      parameters:
      - in: path
        name: userID
        required: true
        schema:
          type: string
  /api/v1/users/avatar/upload:
    post: {}
  /api/v1/users/details:
    put:
      requestBody:
        $ref: '#/components/schemas/UserDetailsUpdateRequestInput'
  /api/v1/users/email_address:
    put:
      requestBody:
        $ref: '#/components/schemas/UserEmailAddressUpdateInput'
  /api/v1/users/email_address_verification:
    post:
      requestBody:
        $ref: '#/components/schemas/EmailAddressVerificationRequestInput'
  /api/v1/users/household/select:
    post:
      requestBody:
        $ref: '#/components/schemas/ChangeActiveHouseholdInput'
  /api/v1/users/password/new:
    put: {}
  /api/v1/users/permissions/check:
    post:
      requestBody:
        $ref: '#/components/schemas/UserPermissionsRequestInput'
  /api/v1/users/search:
    get:
      parameters:
      - in: query
        name: page
        required: true
        schema:
          type: integer
      - in: query
        name: createdBefore
        required: true
        schema:
          type: string
      - in: query
        name: createdAfter
        required: true
        schema:
          type: string
      - in: query
        name: updatedBefore
        required: true
        schema:
          type: string
      - in: query
        name: updatedAfter
        required: true
        schema:
          type: string
      - in: query
        name: includeArchived
        required: true
        schema:
          enum:
          - "1"
          - t
          - T
          - "true"
          - "TRUE"
          - "True"
          - "0"
          - f
          - F
          - "false"
          - "FALSE"
          - "False"
          type: string
      - in: query
        name: sortBy
        required: true
        schema:
          enum:
          - asc
          - desc
          type: string
  /api/v1/users/self:
    get: {}
  /api/v1/users/totp_secret/new:
    post:
      requestBody:
        $ref: '#/components/schemas/TOTPSecretRefreshInput'
  /api/v1/users/username:
    put:
      requestBody:
        $ref: '#/components/schemas/UsernameUpdateInput'
  /api/v1/valid_ingredient_groups/:
    get:
      parameters:
      - in: query
        name: page
        required: true
        schema:
          type: integer
      - in: query
        name: createdBefore
        required: true
        schema:
          type: string
      - in: query
        name: createdAfter
        required: true
        schema:
          type: string
      - in: query
        name: updatedBefore
        required: true
        schema:
          type: string
      - in: query
        name: updatedAfter
        required: true
        schema:
          type: string
      - in: query
        name: includeArchived
        required: true
        schema:
          enum:
          - "1"
          - t
          - T
          - "true"
          - "TRUE"
          - "True"
          - "0"
          - f
          - F
          - "false"
          - "FALSE"
          - "False"
          type: string
      - in: query
        name: sortBy
        required: true
        schema:
          enum:
          - asc
          - desc
          type: string
    post:
      requestBody:
        $ref: '#/components/schemas/ValidIngredientGroupCreationRequestInput'
  /api/v1/valid_ingredient_groups/{validIngredientGroupID}/:
    delete:
      parameters:
      - in: path
        name: validIngredientGroupID
        required: true
        schema:
          type: string
    get:
      parameters:
      - in: path
        name: validIngredientGroupID
        required: true
        schema:
          type: string
    put:
      parameters:
      - in: path
        name: validIngredientGroupID
        required: true
        schema:
          type: string
      requestBody:
        $ref: '#/components/schemas/ValidIngredientGroupUpdateRequestInput'
  /api/v1/valid_ingredient_groups/search:
    get: {}
  /api/v1/valid_ingredient_measurement_units/:
    get:
      parameters:
      - in: query
        name: page
        required: true
        schema:
          type: integer
      - in: query
        name: createdBefore
        required: true
        schema:
          type: string
      - in: query
        name: createdAfter
        required: true
        schema:
          type: string
      - in: query
        name: updatedBefore
        required: true
        schema:
          type: string
      - in: query
        name: updatedAfter
        required: true
        schema:
          type: string
      - in: query
        name: includeArchived
        required: true
        schema:
          enum:
          - "1"
          - t
          - T
          - "true"
          - "TRUE"
          - "True"
          - "0"
          - f
          - F
          - "false"
          - "FALSE"
          - "False"
          type: string
      - in: query
        name: sortBy
        required: true
        schema:
          enum:
          - asc
          - desc
          type: string
    post:
      requestBody:
        $ref: '#/components/schemas/ValidIngredientMeasurementUnitCreationRequestInput'
  /api/v1/valid_ingredient_measurement_units/{validIngredientMeasurementUnitID}/:
    delete:
      parameters:
      - in: path
        name: validIngredientMeasurementUnitID
        required: true
        schema:
          type: string
    get:
      parameters:
      - in: path
        name: validIngredientMeasurementUnitID
        required: true
        schema:
          type: string
    put:
      parameters:
      - in: path
        name: validIngredientMeasurementUnitID
        required: true
        schema:
          type: string
      requestBody:
        $ref: '#/components/schemas/ValidIngredientMeasurementUnitUpdateRequestInput'
  /api/v1/valid_ingredient_measurement_units/by_ingredient/{validIngredientID}/:
    get:
      parameters:
      - in: path
        name: validIngredientID
        required: true
        schema:
          type: string
  /api/v1/valid_ingredient_measurement_units/by_measurement_unit/{validMeasurementUnitID}/:
    get:
      parameters:
      - in: path
        name: validMeasurementUnitID
        required: true
        schema:
          type: string
  /api/v1/valid_ingredient_preparations/:
    get:
      parameters:
      - in: query
        name: page
        required: true
        schema:
          type: integer
      - in: query
        name: createdBefore
        required: true
        schema:
          type: string
      - in: query
        name: createdAfter
        required: true
        schema:
          type: string
      - in: query
        name: updatedBefore
        required: true
        schema:
          type: string
      - in: query
        name: updatedAfter
        required: true
        schema:
          type: string
      - in: query
        name: includeArchived
        required: true
        schema:
          enum:
          - "1"
          - t
          - T
          - "true"
          - "TRUE"
          - "True"
          - "0"
          - f
          - F
          - "false"
          - "FALSE"
          - "False"
          type: string
      - in: query
        name: sortBy
        required: true
        schema:
          enum:
          - asc
          - desc
          type: string
    post:
      requestBody:
        $ref: '#/components/schemas/ValidIngredientPreparationCreationRequestInput'
  /api/v1/valid_ingredient_preparations/{validIngredientPreparationID}/:
    delete:
      parameters:
      - in: path
        name: validIngredientPreparationID
        required: true
        schema:
          type: string
    get:
      parameters:
      - in: path
        name: validIngredientPreparationID
        required: true
        schema:
          type: string
    put:
      parameters:
      - in: path
        name: validIngredientPreparationID
        required: true
        schema:
          type: string
      requestBody:
        $ref: '#/components/schemas/ValidIngredientPreparationUpdateRequestInput'
  /api/v1/valid_ingredient_preparations/by_ingredient/{validIngredientID}/:
    get:
      parameters:
      - in: path
        name: validIngredientID
        required: true
        schema:
          type: string
  /api/v1/valid_ingredient_preparations/by_preparation/{validPreparationID}/:
    get:
      parameters:
      - in: path
        name: validPreparationID
        required: true
        schema:
          type: string
  /api/v1/valid_ingredient_state_ingredients/:
    get:
      parameters:
      - in: query
        name: page
        required: true
        schema:
          type: integer
      - in: query
        name: createdBefore
        required: true
        schema:
          type: string
      - in: query
        name: createdAfter
        required: true
        schema:
          type: string
      - in: query
        name: updatedBefore
        required: true
        schema:
          type: string
      - in: query
        name: updatedAfter
        required: true
        schema:
          type: string
      - in: query
        name: includeArchived
        required: true
        schema:
          enum:
          - "1"
          - t
          - T
          - "true"
          - "TRUE"
          - "True"
          - "0"
          - f
          - F
          - "false"
          - "FALSE"
          - "False"
          type: string
      - in: query
        name: sortBy
        required: true
        schema:
          enum:
          - asc
          - desc
          type: string
    post:
      requestBody:
        $ref: '#/components/schemas/ValidIngredientStateIngredientCreationRequestInput'
  /api/v1/valid_ingredient_state_ingredients/{validIngredientStateIngredientID}/:
    delete:
      parameters:
      - in: path
        name: validIngredientStateIngredientID
        required: true
        schema:
          type: string
    get:
      parameters:
      - in: path
        name: validIngredientStateIngredientID
        required: true
        schema:
          type: string
    put:
      parameters:
      - in: path
        name: validIngredientStateIngredientID
        required: true
        schema:
          type: string
      requestBody:
        $ref: '#/components/schemas/ValidIngredientStateIngredientUpdateRequestInput'
  /api/v1/valid_ingredient_state_ingredients/by_ingredient/{validIngredientID}/:
    get:
      parameters:
      - in: path
        name: validIngredientID
        required: true
        schema:
          type: string
  /api/v1/valid_ingredient_state_ingredients/by_ingredient_state/{validIngredientStateID}/:
    get:
      parameters:
      - in: path
        name: validIngredientStateID
        required: true
        schema:
          type: string
  /api/v1/valid_ingredient_states/:
    get:
      parameters:
      - in: query
        name: page
        required: true
        schema:
          type: integer
      - in: query
        name: createdBefore
        required: true
        schema:
          type: string
      - in: query
        name: createdAfter
        required: true
        schema:
          type: string
      - in: query
        name: updatedBefore
        required: true
        schema:
          type: string
      - in: query
        name: updatedAfter
        required: true
        schema:
          type: string
      - in: query
        name: includeArchived
        required: true
        schema:
          enum:
          - "1"
          - t
          - T
          - "true"
          - "TRUE"
          - "True"
          - "0"
          - f
          - F
          - "false"
          - "FALSE"
          - "False"
          type: string
      - in: query
        name: sortBy
        required: true
        schema:
          enum:
          - asc
          - desc
          type: string
    post:
      requestBody:
        $ref: '#/components/schemas/ValidIngredientStateCreationRequestInput'
  /api/v1/valid_ingredient_states/{validIngredientStateID}/:
    delete:
      parameters:
      - in: path
        name: validIngredientStateID
        required: true
        schema:
          type: string
    get:
      parameters:
      - in: path
        name: validIngredientStateID
        required: true
        schema:
          type: string
    put:
      parameters:
      - in: path
        name: validIngredientStateID
        required: true
        schema:
          type: string
      requestBody:
        $ref: '#/components/schemas/ValidIngredientStateUpdateRequestInput'
  /api/v1/valid_ingredient_states/search:
    get: {}
  /api/v1/valid_ingredients/:
    get:
      parameters:
      - in: query
        name: page
        required: true
        schema:
          type: integer
      - in: query
        name: createdBefore
        required: true
        schema:
          type: string
      - in: query
        name: createdAfter
        required: true
        schema:
          type: string
      - in: query
        name: updatedBefore
        required: true
        schema:
          type: string
      - in: query
        name: updatedAfter
        required: true
        schema:
          type: string
      - in: query
        name: includeArchived
        required: true
        schema:
          enum:
          - "1"
          - t
          - T
          - "true"
          - "TRUE"
          - "True"
          - "0"
          - f
          - F
          - "false"
          - "FALSE"
          - "False"
          type: string
      - in: query
        name: sortBy
        required: true
        schema:
          enum:
          - asc
          - desc
          type: string
    post:
      requestBody:
        $ref: '#/components/schemas/ValidIngredientCreationRequestInput'
  /api/v1/valid_ingredients/{validIngredientID}/:
    delete:
      parameters:
      - in: path
        name: validIngredientID
        required: true
        schema:
          type: string
    get:
      parameters:
      - in: path
        name: validIngredientID
        required: true
        schema:
          type: string
    put:
      parameters:
      - in: path
        name: validIngredientID
        required: true
        schema:
          type: string
      requestBody:
        $ref: '#/components/schemas/ValidIngredientUpdateRequestInput'
  /api/v1/valid_ingredients/by_preparation/{validPreparationID}/:
    get:
      parameters:
      - in: path
        name: validPreparationID
        required: true
        schema:
          type: string
  /api/v1/valid_ingredients/random:
    get: {}
  /api/v1/valid_ingredients/search:
    get: {}
  /api/v1/valid_instruments/:
    get:
      parameters:
      - in: query
        name: page
        required: true
        schema:
          type: integer
      - in: query
        name: createdBefore
        required: true
        schema:
          type: string
      - in: query
        name: createdAfter
        required: true
        schema:
          type: string
      - in: query
        name: updatedBefore
        required: true
        schema:
          type: string
      - in: query
        name: updatedAfter
        required: true
        schema:
          type: string
      - in: query
        name: includeArchived
        required: true
        schema:
          enum:
          - "1"
          - t
          - T
          - "true"
          - "TRUE"
          - "True"
          - "0"
          - f
          - F
          - "false"
          - "FALSE"
          - "False"
          type: string
      - in: query
        name: sortBy
        required: true
        schema:
          enum:
          - asc
          - desc
          type: string
    post:
      requestBody:
        $ref: '#/components/schemas/ValidInstrumentCreationRequestInput'
  /api/v1/valid_instruments/{validInstrumentID}/:
    delete:
      parameters:
      - in: path
        name: validInstrumentID
        required: true
        schema:
          type: string
    get:
      parameters:
      - in: path
        name: validInstrumentID
        required: true
        schema:
          type: string
    put:
      parameters:
      - in: path
        name: validInstrumentID
        required: true
        schema:
          type: string
      requestBody:
        $ref: '#/components/schemas/ValidInstrumentUpdateRequestInput'
  /api/v1/valid_instruments/random:
    get: {}
  /api/v1/valid_instruments/search:
    get: {}
  /api/v1/valid_measurement_conversions/:
    post:
      requestBody:
        $ref: '#/components/schemas/ValidMeasurementUnitConversionCreationRequestInput'
  /api/v1/valid_measurement_conversions/{validMeasurementUnitConversionID}/:
    delete:
      parameters:
      - in: path
        name: validMeasurementUnitConversionID
        required: true
        schema:
          type: string
    get:
      parameters:
      - in: path
        name: validMeasurementUnitConversionID
        required: true
        schema:
          type: string
    put:
      parameters:
      - in: path
        name: validMeasurementUnitConversionID
        required: true
        schema:
          type: string
      requestBody:
        $ref: '#/components/schemas/ValidMeasurementUnitConversionUpdateRequestInput'
  /api/v1/valid_measurement_conversions/from_unit/{validMeasurementUnitID}:
    get:
      parameters:
      - in: path
        name: validMeasurementUnitID
        required: true
        schema:
          type: string
  /api/v1/valid_measurement_conversions/to_unit/{validMeasurementUnitID}:
    get:
      parameters:
      - in: path
        name: validMeasurementUnitID
        required: true
        schema:
          type: string
  /api/v1/valid_measurement_units/:
    get:
      parameters:
      - in: query
        name: page
        required: true
        schema:
          type: integer
      - in: query
        name: createdBefore
        required: true
        schema:
          type: string
      - in: query
        name: createdAfter
        required: true
        schema:
          type: string
      - in: query
        name: updatedBefore
        required: true
        schema:
          type: string
      - in: query
        name: updatedAfter
        required: true
        schema:
          type: string
      - in: query
        name: includeArchived
        required: true
        schema:
          enum:
          - "1"
          - t
          - T
          - "true"
          - "TRUE"
          - "True"
          - "0"
          - f
          - F
          - "false"
          - "FALSE"
          - "False"
          type: string
      - in: query
        name: sortBy
        required: true
        schema:
          enum:
          - asc
          - desc
          type: string
    post:
      requestBody:
        $ref: '#/components/schemas/ValidMeasurementUnitCreationRequestInput'
  /api/v1/valid_measurement_units/{validMeasurementUnitID}/:
    delete:
      parameters:
      - in: path
        name: validMeasurementUnitID
        required: true
        schema:
          type: string
    get:
      parameters:
      - in: path
        name: validMeasurementUnitID
        required: true
        schema:
          type: string
    put:
      parameters:
      - in: path
        name: validMeasurementUnitID
        required: true
        schema:
          type: string
      requestBody:
        $ref: '#/components/schemas/ValidMeasurementUnitUpdateRequestInput'
  /api/v1/valid_measurement_units/by_ingredient/{validIngredientID}:
    get:
      parameters:
      - in: path
        name: validIngredientID
        required: true
        schema:
          type: string
  /api/v1/valid_measurement_units/search:
    get: {}
  /api/v1/valid_preparation_instruments/:
    get:
      parameters:
      - in: query
        name: page
        required: true
        schema:
          type: integer
      - in: query
        name: createdBefore
        required: true
        schema:
          type: string
      - in: query
        name: createdAfter
        required: true
        schema:
          type: string
      - in: query
        name: updatedBefore
        required: true
        schema:
          type: string
      - in: query
        name: updatedAfter
        required: true
        schema:
          type: string
      - in: query
        name: includeArchived
        required: true
        schema:
          enum:
          - "1"
          - t
          - T
          - "true"
          - "TRUE"
          - "True"
          - "0"
          - f
          - F
          - "false"
          - "FALSE"
          - "False"
          type: string
      - in: query
        name: sortBy
        required: true
        schema:
          enum:
          - asc
          - desc
          type: string
    post:
      requestBody:
        $ref: '#/components/schemas/ValidPreparationInstrumentCreationRequestInput'
  /api/v1/valid_preparation_instruments/{validPreparationVesselID}/:
    delete:
      parameters:
      - in: path
        name: validPreparationVesselID
        required: true
        schema:
          type: string
    get:
      parameters:
      - in: path
        name: validPreparationVesselID
        required: true
        schema:
          type: string
    put:
      parameters:
      - in: path
        name: validPreparationVesselID
        required: true
        schema:
          type: string
      requestBody:
        $ref: '#/components/schemas/ValidPreparationInstrumentUpdateRequestInput'
  /api/v1/valid_preparation_instruments/by_instrument/{validInstrumentID}/:
    get:
      parameters:
      - in: path
        name: validInstrumentID
        required: true
        schema:
          type: string
  /api/v1/valid_preparation_instruments/by_preparation/{validPreparationID}/:
    get:
      parameters:
      - in: path
        name: validPreparationID
        required: true
        schema:
          type: string
  /api/v1/valid_preparation_vessels/:
    get:
      parameters:
      - in: query
        name: page
        required: true
        schema:
          type: integer
      - in: query
        name: createdBefore
        required: true
        schema:
          type: string
      - in: query
        name: createdAfter
        required: true
        schema:
          type: string
      - in: query
        name: updatedBefore
        required: true
        schema:
          type: string
      - in: query
        name: updatedAfter
        required: true
        schema:
          type: string
      - in: query
        name: includeArchived
        required: true
        schema:
          enum:
          - "1"
          - t
          - T
          - "true"
          - "TRUE"
          - "True"
          - "0"
          - f
          - F
          - "false"
          - "FALSE"
          - "False"
          type: string
      - in: query
        name: sortBy
        required: true
        schema:
          enum:
          - asc
          - desc
          type: string
    post:
      requestBody:
        $ref: '#/components/schemas/ValidPreparationVesselCreationRequestInput'
  /api/v1/valid_preparation_vessels/{validPreparationVesselID}/:
    delete:
      parameters:
      - in: path
        name: validPreparationVesselID
        required: true
        schema:
          type: string
    get:
      parameters:
      - in: path
        name: validPreparationVesselID
        required: true
        schema:
          type: string
    put:
      parameters:
      - in: path
        name: validPreparationVesselID
        required: true
        schema:
          type: string
      requestBody:
        $ref: '#/components/schemas/ValidPreparationVesselUpdateRequestInput'
  /api/v1/valid_preparation_vessels/by_preparation/{validPreparationID}/:
    get:
      parameters:
      - in: path
        name: validPreparationID
        required: true
        schema:
          type: string
  /api/v1/valid_preparation_vessels/by_vessel/{ValidVesselID}/:
    get:
      parameters:
      - in: path
        name: ValidVesselID
        required: true
        schema:
          type: string
  /api/v1/valid_preparations/:
    get:
      parameters:
      - in: query
        name: page
        required: true
        schema:
          type: integer
      - in: query
        name: createdBefore
        required: true
        schema:
          type: string
      - in: query
        name: createdAfter
        required: true
        schema:
          type: string
      - in: query
        name: updatedBefore
        required: true
        schema:
          type: string
      - in: query
        name: updatedAfter
        required: true
        schema:
          type: string
      - in: query
        name: includeArchived
        required: true
        schema:
          enum:
          - "1"
          - t
          - T
          - "true"
          - "TRUE"
          - "True"
          - "0"
          - f
          - F
          - "false"
          - "FALSE"
          - "False"
          type: string
      - in: query
        name: sortBy
        required: true
        schema:
          enum:
          - asc
          - desc
          type: string
    post:
      requestBody:
        $ref: '#/components/schemas/ValidPreparationCreationRequestInput'
  /api/v1/valid_preparations/{validPreparationID}/:
    delete:
      parameters:
      - in: path
        name: validPreparationID
        required: true
        schema:
          type: string
    get:
      parameters:
      - in: path
        name: validPreparationID
        required: true
        schema:
          type: string
    put:
      parameters:
      - in: path
        name: validPreparationID
        required: true
        schema:
          type: string
      requestBody:
        $ref: '#/components/schemas/ValidPreparationUpdateRequestInput'
  /api/v1/valid_preparations/random:
    get: {}
  /api/v1/valid_preparations/search:
    get: {}
  /api/v1/valid_vessels/:
    get:
      parameters:
      - in: query
        name: page
        required: true
        schema:
          type: integer
      - in: query
        name: createdBefore
        required: true
        schema:
          type: string
      - in: query
        name: createdAfter
        required: true
        schema:
          type: string
      - in: query
        name: updatedBefore
        required: true
        schema:
          type: string
      - in: query
        name: updatedAfter
        required: true
        schema:
          type: string
      - in: query
        name: includeArchived
        required: true
        schema:
          enum:
          - "1"
          - t
          - T
          - "true"
          - "TRUE"
          - "True"
          - "0"
          - f
          - F
          - "false"
          - "FALSE"
          - "False"
          type: string
      - in: query
        name: sortBy
        required: true
        schema:
          enum:
          - asc
          - desc
          type: string
    post:
      requestBody:
        $ref: '#/components/schemas/ValidVesselCreationRequestInput'
  /api/v1/valid_vessels/{validVesselID}/:
    delete:
      parameters:
      - in: path
        name: validVesselID
        required: true
        schema:
          type: string
    get:
      parameters:
      - in: path
        name: validVesselID
        required: true
        schema:
          type: string
    put:
      parameters:
      - in: path
        name: validVesselID
        required: true
        schema:
          type: string
      requestBody:
        $ref: '#/components/schemas/ValidVesselUpdateRequestInput'
  /api/v1/valid_vessels/random:
    get: {}
  /api/v1/valid_vessels/search:
    get: {}
  /api/v1/webhooks/:
    get:
      parameters:
      - in: query
        name: page
        required: true
        schema:
          type: integer
      - in: query
        name: createdBefore
        required: true
        schema:
          type: string
      - in: query
        name: createdAfter
        required: true
        schema:
          type: string
      - in: query
        name: updatedBefore
        required: true
        schema:
          type: string
      - in: query
        name: updatedAfter
        required: true
        schema:
          type: string
      - in: query
        name: includeArchived
        required: true
        schema:
          enum:
          - "1"
          - t
          - T
          - "true"
          - "TRUE"
          - "True"
          - "0"
          - f
          - F
          - "false"
          - "FALSE"
          - "False"
          type: string
      - in: query
        name: sortBy
        required: true
        schema:
          enum:
          - asc
          - desc
          type: string
    post:
      requestBody:
        $ref: '#/components/schemas/WebhookCreationRequestInput'
  /api/v1/webhooks/{webhookID}/:
    delete:
      parameters:
      - in: path
        name: webhookID
        required: true
        schema:
          type: string
    get:
      parameters:
      - in: path
        name: webhookID
        required: true
        schema:
          type: string
  /api/v1/webhooks/{webhookID}/trigger_events:
    post:
      parameters:
      - in: path
        name: webhookID
        required: true
        schema:
          type: string
      requestBody:
        $ref: '#/components/schemas/WebhookTriggerEventCreationRequestInput'
  /api/v1/webhooks/{webhookID}/trigger_events/{webhookTriggerEventID}/:
    delete:
      parameters:
      - in: path
        name: webhookID
        required: true
        schema:
          type: string
      - in: path
        name: webhookTriggerEventID
        required: true
        schema:
          type: string
  /api/v1/workers/finalize_meal_plans:
    post:
      requestBody:
        $ref: '#/components/schemas/FinalizeMealPlansRequest'
  /api/v1/workers/meal_plan_grocery_list_init:
    post: {}
  /api/v1/workers/meal_plan_tasks:
    post: {}
  /auth/{auth_provider}:
    get: {}
  /auth/{auth_provider}/callback:
    get: {}
  /auth/status:
    get: {}
  /oauth2/authorize:
    get: {}
  /oauth2/token:
    post: {}
  /users/:
    post:
      requestBody:
        $ref: '#/components/schemas/UserRegistrationInput'
  /users/email_address/verify:
    post:
      requestBody:
        $ref: '#/components/schemas/EmailAddressVerificationRequestInput'
  /users/login:
    post:
      requestBody:
        $ref: '#/components/schemas/UserLoginInput'
  /users/login/admin:
    post:
      requestBody:
        $ref: '#/components/schemas/UserLoginInput'
  /users/logout:
    post: {}
  /users/password/reset:
    post:
      requestBody:
        $ref: '#/components/schemas/PasswordResetTokenCreationRequestInput'
  /users/password/reset/redeem:
    post:
      requestBody:
        $ref: '#/components/schemas/PasswordResetTokenRedemptionRequestInput'
  /users/totp_secret/verify:
    post:
      requestBody:
        $ref: '#/components/schemas/EmailAddressVerificationRequestInput'
  /users/username/reminder:
    post:
      requestBody:
        $ref: '#/components/schemas/UsernameReminderRequestInput'
components:
  schemas:
    APIError:
      properties:
        code:
          $ref: '#/components/schemas/ErrorCode'
        message:
          type: string
      type: object
    APIResponse:
      properties:
        data:
          $ref: '#/components/schemas/T'
        details:
          $ref: '#/components/schemas/ResponseDetails'
        error:
          $ref: '#/components/schemas/APIError'
        pagination:
          $ref: '#/components/schemas/Pagination'
      type: object
    AuditLogEntry:
      properties:
        belongsToHousehold:
          type: string
        belongsToUser:
          type: string
        changes:
          $ref: '#/components/schemas/object'
        createdAt:
          type: string
        eventType:
          $ref: '#/components/schemas/AuditLogEntryEventType'
        id:
          type: string
        relevantID:
          type: string
        resourceType:
          type: string
      type: object
    AvatarUpdateInput:
      properties:
        base64EncodedData:
          type: string
      type: object
    ChangeActiveHouseholdInput:
      properties:
        householdID:
          type: string
      type: object
    ChangeLog:
      properties:
        newValue:
          type: string
        oldValue:
          type: string
      type: object
    EmailAddressVerificationRequestInput:
      properties:
        emailVerificationToken:
          type: string
      type: object
    FinalizeMealPlansRequest:
      properties:
        returnCount:
          type: boolean
      type: object
    FinalizeMealPlansResponse:
      properties:
        count:
          type: integer
      type: object
    FinalizedMealPlanDatabaseResult:
      properties:
        MealID:
          type: string
        MealPlanEventID:
          type: string
        MealPlanID:
          type: string
        MealPlanOptionID:
          type: string
        RecipeIDs:
          type: string
      type: object
    Household:
      properties:
        addressLine1:
          type: string
        addressLine2:
          type: string
        archivedAt:
          type: string
        belongsToUser:
          type: string
        billingStatus:
          type: string
        city:
          type: string
        contactPhone:
          type: string
        country:
          type: string
        createdAt:
          type: string
        id:
          type: string
        lastUpdatedAt:
          type: string
        latitude:
          type: number
        longitude:
          type: number
        members:
          $ref: '#/components/schemas/HouseholdUserMembershipWithUser'
        name:
          type: string
        paymentProcessorCustomer:
          type: string
        state:
          type: string
        subscriptionPlanID:
          type: string
        zipCode:
          type: string
      type: object
    HouseholdCreationRequestInput:
      properties:
        addressLine1:
          type: string
        addressLine2:
          type: string
        city:
          type: string
        contactPhone:
          type: string
        country:
          type: string
        latitude:
          type: number
        longitude:
          type: number
        name:
          type: string
        state:
          type: string
        zipCode:
          type: string
      type: object
    HouseholdInstrumentOwnership:
      properties:
        archivedAt:
          type: string
        belongsToHousehold:
          type: string
        createdAt:
          type: string
        id:
          type: string
        instrument:
          $ref: '#/components/schemas/ValidInstrument'
        lastUpdatedAt:
          type: string
        notes:
          type: string
        quantity:
          type: integer
      type: object
    HouseholdInstrumentOwnershipCreationRequestInput:
      properties:
        belongsToHousehold:
          type: string
        notes:
          type: string
        quantity:
          type: integer
        validInstrumentID:
          type: string
      type: object
    HouseholdInstrumentOwnershipUpdateRequestInput:
      properties:
        notes:
          type: string
        quantity:
          type: integer
        validInstrumentID:
          type: string
      type: object
    HouseholdInvitation:
      properties:
        archivedAt:
          type: string
        createdAt:
          type: string
        destinationHousehold:
          $ref: '#/components/schemas/Household'
        expiresAt:
          type: string
        fromUser:
          $ref: '#/components/schemas/User'
        id:
          type: string
        lastUpdatedAt:
          type: string
        note:
          type: string
        status:
          type: string
        statusNote:
          type: string
        toEmail:
          type: string
        toName:
          type: string
        toUser:
          type: string
        token:
          type: string
      type: object
    HouseholdInvitationCreationRequestInput:
      properties:
        expiresAt:
          type: string
        note:
          type: string
        toEmail:
          type: string
        toName:
          type: string
      type: object
    HouseholdInvitationUpdateRequestInput:
      properties:
        note:
          type: string
        token:
          type: string
      type: object
    HouseholdOwnershipTransferInput:
      properties:
        currentOwner:
          type: string
        newOwner:
          type: string
        reason:
          type: string
      type: object
    HouseholdUpdateRequestInput:
      properties:
        addressLine1:
          type: string
        addressLine2:
          type: string
        city:
          type: string
        contactPhone:
          type: string
        country:
          type: string
        latitude:
          type: number
        longitude:
          type: number
        name:
          type: string
        state:
          type: string
        zipCode:
          type: string
      type: object
    HouseholdUserMembership:
      properties:
        archivedAt:
          type: string
        belongsToHousehold:
          type: string
        belongsToUser:
          type: string
        createdAt:
          type: string
        defaultHousehold:
          type: boolean
        householdRole:
          type: string
        id:
          type: string
        lastUpdatedAt:
          type: string
      type: object
    HouseholdUserMembershipCreationRequestInput:
      properties:
        reason:
          type: string
        userID:
          type: string
      type: object
    HouseholdUserMembershipWithUser:
      properties:
        archivedAt:
          type: string
        belongsToHousehold:
          type: string
        belongsToUser:
          $ref: '#/components/schemas/User'
        createdAt:
          type: string
        defaultHousehold:
          type: boolean
        householdRole:
          type: string
        id:
          type: string
        lastUpdatedAt:
          type: string
      type: object
    Meal:
      properties:
        archivedAt:
          type: string
        components:
          $ref: '#/components/schemas/MealComponent'
        createdAt:
          type: string
        createdByUser:
          type: string
        description:
          type: string
        eligibleForMealPlans:
          type: boolean
        id:
          type: string
        lastUpdatedAt:
          type: string
        maximumEstimatedPortions:
          type: number
        minimumEstimatedPortions:
          type: number
        name:
          type: string
      type: object
    MealComponent:
      properties:
        componentType:
          type: string
        recipe:
          $ref: '#/components/schemas/Recipe'
        recipeScale:
          type: number
      type: object
    MealComponentCreationRequestInput:
      properties:
        componentType:
          type: string
        recipeID:
          type: string
        recipeScale:
          type: number
      type: object
    MealComponentUpdateRequestInput:
      properties:
        componentType:
          type: string
        recipeID:
          type: string
        recipeScale:
          type: number
      type: object
    MealCreationRequestInput:
      properties:
        description:
          type: string
        eligibleForMealPlans:
          type: boolean
        maximumEstimatedPortions:
          type: number
        minimumEstimatedPortions:
          type: number
        name:
          type: string
        recipes:
          $ref: '#/components/schemas/MealComponentCreationRequestInput'
      type: object
    MealPlan:
      properties:
        archivedAt:
          type: string
        belongsToHousehold:
          type: string
        createdAt:
          type: string
        createdBy:
          type: string
        electionMethod:
          type: string
        events:
          $ref: '#/components/schemas/MealPlanEvent'
        groceryListInitialized:
          type: boolean
        id:
          type: string
        lastUpdatedAt:
          type: string
        notes:
          type: string
        status:
          type: string
        tasksCreated:
          type: boolean
        votingDeadline:
          type: string
      type: object
    MealPlanCreationRequestInput:
      properties:
        electionMethod:
          type: string
        events:
          $ref: '#/components/schemas/MealPlanEventCreationRequestInput'
        notes:
          type: string
        votingDeadline:
          type: string
      type: object
    MealPlanEvent:
      properties:
        archivedAt:
          type: string
        belongsToMealPlan:
          type: string
        createdAt:
          type: string
        endsAt:
          type: string
        id:
          type: string
        lastUpdatedAt:
          type: string
        mealName:
          type: string
        notes:
          type: string
        options:
          $ref: '#/components/schemas/MealPlanOption'
        startsAt:
          type: string
      type: object
    MealPlanEventCreationRequestInput:
      properties:
        endsAt:
          type: string
        mealName:
          type: string
        notes:
          type: string
        options:
          $ref: '#/components/schemas/MealPlanOptionCreationRequestInput'
        startsAt:
          type: string
      type: object
    MealPlanEventUpdateRequestInput:
      properties:
        endsAt:
          type: string
        mealName:
          type: string
        notes:
          type: string
        startsAt:
          type: string
      type: object
    MealPlanGroceryListItem:
      properties:
        archivedAt:
          type: string
        belongsToMealPlan:
          type: string
        createdAt:
          type: string
        id:
          type: string
        ingredient:
          $ref: '#/components/schemas/ValidIngredient'
        lastUpdatedAt:
          type: string
        maximumQuantityNeeded:
          type: number
        measurementUnit:
          $ref: '#/components/schemas/ValidMeasurementUnit'
        minimumQuantityNeeded:
          type: number
        purchasePrice:
          type: number
        purchasedMeasurementUnit:
          $ref: '#/components/schemas/ValidMeasurementUnit'
        purchasedUPC:
          type: string
        quantityPurchased:
          type: number
        status:
          type: string
        statusExplanation:
          type: string
      type: object
    MealPlanGroceryListItemCreationRequestInput:
      properties:
        belongsToMealPlan:
          type: string
        maximumQuantityNeeded:
          type: number
        minimumQuantityNeeded:
          type: number
        purchasePrice:
          type: number
        purchasedMeasurementUnitID:
          type: string
        purchasedUPC:
          type: string
        quantityPurchased:
          type: number
        status:
          type: string
        statusExplanation:
          type: string
        validIngredientID:
          type: string
        validMeasurementUnitID:
          type: string
      type: object
    MealPlanGroceryListItemUpdateRequestInput:
      properties:
        belongsToMealPlan:
          type: string
        maximumQuantityNeeded:
          type: number
        minimumQuantityNeeded:
          type: number
        purchasePrice:
          type: number
        purchasedMeasurementUnitID:
          type: string
        purchasedUPC:
          type: string
        quantityPurchased:
          type: number
        status:
          type: string
        statusExplanation:
          type: string
        validIngredientID:
          type: string
        validMeasurementUnitID:
          type: string
      type: object
    MealPlanOption:
      properties:
        archivedAt:
          type: string
        assignedCook:
          type: string
        assignedDishwasher:
          type: string
        belongsToMealPlanEvent:
          type: string
        chosen:
          type: boolean
        createdAt:
          type: string
        id:
          type: string
        lastUpdatedAt:
          type: string
        meal:
          $ref: '#/components/schemas/Meal'
        mealScale:
          type: number
        notes:
          type: string
        tieBroken:
          type: boolean
        votes:
          $ref: '#/components/schemas/MealPlanOptionVote'
      type: object
    MealPlanOptionCreationRequestInput:
      properties:
        assignedCook:
          type: string
[...]
