<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>NSAppTransportSecurity</key>
	<dict>
		<key>NSExceptionDomains</key>
		<dict>
			<key>0.0.0.0</key>
			<dict>
				<key>NSExceptionAllowsInsecureHTTPLoads</key>
				<true/>
				<key>NSIncludesSubdomains</key>
				<true/>
			</dict>
			<key>127.0.0.1</key>
			<dict>
				<key>NSExceptionAllowsInsecureHTTPLoads</key>
				<true/>
				<key>NSIncludesSubdomains</key>
				<true/>
			</dict>
			<key>localhost</key>
			<dict>
				<key>NSExceptionAllowsInsecureHTTPLoads</key>
				<true/>
				<key>NSIncludesSubdomains</key>
				<true/>
			</dict>
		</dict>
	</dict>
	<key>OAuth2ClientID</key>
	<string>$(OAUTH2_CLIENT_ID)</string>
	<key>OAuth2ClientSecret</key>
	<string>$(OAUTH2_CLIENT_SECRET)</string>
	<key>SegmentWriteKey</key>
	<string>$(SEGMENT_WRITE_KEY)</string>
	<key>RevenueCatAPIKey</key>
	<string>$(REVENUECAT_API_KEY)</string>
	<key>NSPhotoLibraryUsageDescription</key>
	<string>Dinner Done Better needs access to your photo library to upload photos.</string>
	<key>UIBackgroundModes</key>
	<array>
		<string>remote-notification</string>
	</array>
	<key>ITSAppUsesNonExemptEncryption</key>
	<false/>
</dict>
</plist>
