/*
Some Notes:

1. All passwords are `PrixFixe1!`, without backticks.
 */

-- Users

INSERT INTO "users" (
    "id",
    "username",
    "email_address",
    "hashed_password",
    "two_factor_secret",
    "two_factor_secret_verified_on",
    "password_last_changed_on",
    "reputation",
    "service_roles",
    "created_on",
    "archived_on"
)
VALUES
(
    '{{ getID "admin_user" }}',
    'admin',
    'admin@prixfixe.email',
    '$argon2id$v=19$m=65536,t=1,p=2$QdxGzEsSJc24mMaW4k3kzQ$uqwRs4CuwRJZKAIXjcR9G1V0Qpv38YtL9vK3wm7SZho',
    'AAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA=',
    '{{ timestamp }}',
    NULL,
    'good',
    'service_admin',
    '{{ timestamp }}',
    NULL
),
(
    '{{ getID "household_1_user_1" }}',
    'momJones',
    'mom@jones.com',
    '$argon2id$v=19$m=65536,t=1,p=2$QdxGzEsSJc24mMaW4k3kzQ$uqwRs4CuwRJZKAIXjcR9G1V0Qpv38YtL9vK3wm7SZho',
    'AAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA=',
    '{{ timestamp }}',
    NULL,
    'good',
    'service_user',
    '{{ timestamp }}',
    NULL
),
(
    '{{ getID "household_1_user_2" }}',
    'dadJones',
    'dad@jones.com',
    '$argon2id$v=19$m=65536,t=1,p=2$QdxGzEsSJc24mMaW4k3kzQ$uqwRs4CuwRJZKAIXjcR9G1V0Qpv38YtL9vK3wm7SZho',
    'AAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA=',
    '{{ timestamp }}',
    NULL,
    'good',
    'service_user',
    '{{ timestamp }}',
    NULL
),
(
    '{{ getID "household_1_user_3" }}',
    'sallyJones',
    'sally@jones.com',
    '$argon2id$v=19$m=65536,t=1,p=2$QdxGzEsSJc24mMaW4k3kzQ$uqwRs4CuwRJZKAIXjcR9G1V0Qpv38YtL9vK3wm7SZho',
    'AAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA=',
    '{{ timestamp }}',
    NULL,
    'good',
    'service_user',
    '{{ timestamp }}',
    NULL
),
(
    '{{ getID "household_1_user_4" }}',
    'billyJones',
    'billy@jones.com',
    '$argon2id$v=19$m=65536,t=1,p=2$QdxGzEsSJc24mMaW4k3kzQ$uqwRs4CuwRJZKAIXjcR9G1V0Qpv38YtL9vK3wm7SZho',
    'AAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA=',
    '{{ timestamp }}',
    NULL,
    'good',
    'service_user',
    '{{ timestamp }}',
    NULL
);

-- Households

INSERT INTO "households"
(
    "id",
    "name",
    "contact_email",
    "contact_phone",
    "billing_status",
    "payment_processor_customer_id",
    "subscription_plan_id",
    "belongs_to_user",
    "created_on",
    "last_updated_on",
    "archived_on"
)
VALUES
(
    '{{ getID "admin_household" }}',
    'admin_default',
    '',
    '',
    'unpaid',
    '',
    NULL,
    '{{ getID "admin_user" }}',
    '{{ timestamp }}',
    NULL,
    NULL
),
(
    '{{ getID "household_1" }}',
    'The Jones Household',
    '',
    '',
    'paid',
    '',
    NULL,
    '{{ getID "household_1_user_1" }}',
    '{{ timestamp }}',
    NULL,
    NULL
);

-- Household Memberships

INSERT INTO "household_user_memberships" (
    "id",
    "belongs_to_user",
    "belongs_to_household",
    "default_household",
    "household_roles",
    "created_on",
    "last_updated_on",
    "archived_on"
)
VALUES
(
    '{{ getID "admin_household_membership" }}',
    '{{ getID "admin_user" }}',
    '{{ getID "admin_household" }}',
    true,
    'household_admin',
    '{{ timestamp }}',
    NULL,
    NULL
),
(
    '{{ getID "household_1_user_1_membership" }}',
    '{{ getID "household_1_user_1" }}',
    '{{ getID "household_1" }}',
    true,
    'household_admin',
    '{{ timestamp }}',
    NULL,
    NULL
),
(
    '{{ getID "household_1_user_2_membership" }}',
    '{{ getID "household_1_user_2" }}',
    '{{ getID "household_1" }}',
    true,
    'household_member',
    '{{ timestamp }}',
    NULL,
    NULL
),
(
    '{{ getID "household_1_user_3_membership" }}',
    '{{ getID "household_1_user_3" }}',
    '{{ getID "household_1" }}',
    true,
    'household_member',
    '{{ timestamp }}',
    NULL,
    NULL
),
(
    '{{ getID "household_1_user_4_membership" }}',
    '{{ getID "household_1_user_4" }}',
    '{{ getID "household_1" }}',
    true,
    'household_member',
    '{{ timestamp }}',
    NULL,
    NULL
);

-- Valid Ingredients

INSERT INTO "valid_ingredients" (
    "id",
    "name",
    "variant",
    "description",
    "icon_path",
    "warning",
    "animal_derived",
    "animal_flesh",
    "contains_gluten",
    "contains_dairy",
    "contains_egg",
    "contains_fish",
    "contains_peanut",
    "contains_sesame",
    "contains_shellfish",
    "contains_soy",
    "contains_tree_nut",
    "contains_wheat",
    "volumetric",
    "created_on",
    "last_updated_on",
    "archived_on"
)
VALUES
(
    '{{ getID "valid_ingredient_chicken_breast" }}',
    'chicken breast',
    '',
    '',
    '',
    '',
    true,
    true,
    false,
    false,
    false,
    false,
    false,
    false,
    false,
    false,
    false,
    false,
    false,
    '{{ timestamp }}',
    NULL,
    NULL
),
(
    '{{ getID "valid_ingredient_water" }}',
    'water',
    '',
    '',
    '',
    '',
    false,
    false,
    false,
    false,
    false,
    false,
    false,
    false,
    false,
    false,
    false,
    false,
    false,
    '{{ timestamp }}',
    NULL,
    NULL
),
(
    '{{ getID "valid_ingredient_onion" }}',
    'onion',
    '',
    '',
    '',
    '',
    false,
    false,
    false,
    false,
    false,
    false,
    false,
    false,
    false,
    false,
    false,
    false,
    false,
    '{{ timestamp }}',
    NULL,
    NULL
),
(
    '{{ getID "valid_ingredient_garlic" }}',
    'garlic',
    '',
    '',
    '',
    '',
    false,
    false,
    false,
    false,
    false,
    false,
    false,
    false,
    false,
    false,
    false,
    false,
    false,
    '{{ timestamp }}',
    NULL,
    NULL
),
(
    '{{ getID "valid_ingredient_black_pepper" }}',
    'black pepper',
    '',
    '',
    '',
    '',
    false,
    false,
    false,
    false,
    false,
    false,
    false,
    false,
    false,
    false,
    false,
    false,
    false,
    '{{ timestamp }}',
    NULL,
    NULL
),
(
    '{{ getID "valid_ingredient_olive_oil" }}',
    'olive oil',
    '',
    '',
    '',
    '',
    false,
    false,
    false,
    false,
    false,
    false,
    false,
    false,
    false,
    false,
    false,
    false,
    false,
    '{{ timestamp }}',
    NULL,
    NULL
),
(
    '{{ getID "valid_ingredient_coffee" }}',
    'coffee',
    '',
    '',
    '',
    '',
    false,
    false,
    false,
    false,
    false,
    false,
    false,
    false,
    false,
    false,
    false,
    false,
    false,
    '{{ timestamp }}',
    NULL,
    NULL
),
(
    '{{ getID "valid_ingredient_pasta" }}',
    'pasta',
    '',
    '',
    '',
    '',
    false,
    false,
    true,
    false,
    false,
    false,
    false,
    false,
    false,
    false,
    false,
    false,
    false,
    '{{ timestamp }}',
    NULL,
    NULL
),
(
    '{{ getID "valid_ingredient_tomato" }}',
    'tomato',
    '',
    '',
    '',
    '',
    false,
    false,
    false,
    false,
    false,
    false,
    false,
    false,
    false,
    false,
    false,
    false,
    false,
    '{{ timestamp }}',
    NULL,
    NULL
),
(
    '{{ getID "valid_ingredient_mozzarella" }}',
    'mozzarella',
    '',
    '',
    '',
    '',
    true,
    false,
    false,
    true,
    false,
    false,
    false,
    false,
    false,
    false,
    false,
    false,
    false,
    '{{ timestamp }}',
    NULL,
    NULL
);

-- Valid Instruments

INSERT INTO "valid_instruments"
(
    "id",
    "name",
    "variant",
    "description",
    "icon_path",
    "created_on",
    "last_updated_on",
    "archived_on"
)
VALUES
(
    '{{ getID "valid_instrument_spoon" }}',
    'spoon',
    '',
    '',
    '',
    '{{ timestamp }}',
    NULL,
    NULL
);

-- Valid Preparations

INSERT INTO "valid_preparations"
(
    "id",
    "name",
    "description",
    "icon_path",
    "created_on",
    "last_updated_on",
    "archived_on"
)
VALUES
(
    '{{ getID "valid_preparation_dice" }}',
    'dice',
    '',
    '',
    '{{ timestamp }}',
    NULL,
    NULL
),
(
    '{{ getID "valid_preparation_slice" }}',
    'slice',
    '',
    '',
    '{{ timestamp }}',
    NULL,
    NULL
),
(
    '{{ getID "valid_preparation_plate" }}',
    'plate',
    '',
    '',
    '{{ timestamp }}',
    NULL,
    NULL
),
(
    '{{ getID "valid_preparation_sautee" }}',
    'sautee',
    '',
    '',
    '{{ timestamp }}',
    NULL,
    NULL
),
(
    '{{ getID "valid_preparation_marinate" }}',
    'marinate',
    '',
    '',
    '{{ timestamp }}',
    NULL,
    NULL
),
(
    '{{ getID "valid_preparation_boil" }}',
    'boil',
    '',
    '',
    '{{ timestamp }}',
    NULL,
    NULL
),
(
    '{{ getID "valid_preparation_drain" }}',
    'drain',
    '',
    '',
    '{{ timestamp }}',
    NULL,
    NULL
),
(
    '{{ getID "valid_preparation_grill" }}',
    'grill',
    '',
    '',
    '{{ timestamp }}',
    NULL,
    NULL
);

-- Recipes

INSERT INTO "recipes"
(
    "id",
    "name",
    "description",
    "inspired_by_recipe_id",
    "source",
    "created_by_user",
    "created_on",
    "last_updated_on",
    "archived_on"
)
VALUES
(
    '{{ getID "recipe_mushroom_risotto" }}',
    'mushroom risotto',
    '',
    '',
    '',
    '{{ getID "household_1_user_1" }}',
    '{{ timestamp }}',
    NULL,
    NULL
),
(
    '{{ getID "recipe_grilled_chicken" }}',
    'grilled chicken',
    '',
    '',
    '',
    '{{ getID "household_1_user_1" }}',
    '{{ timestamp }}',
    NULL,
    NULL
),
(
    '{{ getID "recipe_caprese_salad" }}',
    'caprese salad',
    '',
    '',
    '',
    '{{ getID "household_1_user_1" }}',
    '{{ timestamp }}',
    NULL,
    NULL
),
(
    '{{ getID "recipe_spaghetti_with_meatballs" }}',
    'spaghetti with meatballs',
    '',
    '',
    '',
    '{{ getID "household_1_user_1" }}',
    '{{ timestamp }}',
    NULL,
    NULL
);

-- Recipe Steps

INSERT INTO "recipe_steps" (
    "id",
    "index",
    "preparation_id",
    "prerequisite_step",
    "min_estimated_time_in_seconds",
    "max_estimated_time_in_seconds",
    "temperature_in_celsius",
    "notes",
    "why",
    "belongs_to_recipe"
)
VALUES
(
    '{{ getID "recipe_step_risotto_1" }}',
    0,
    '{{ getID "valid_preparation_dice" }}',
    0,
    0,
    0,
    NULL,
    '',
    '',
    '{{ getID "recipe_mushroom_risotto" }}'
),
(
    '{{ getID "recipe_step_risotto_2" }}',
    0,
    '{{ getID "valid_preparation_sautee" }}',
    0,
    0,
    0,
    NULL,
    '',
    '',
    '{{ getID "recipe_mushroom_risotto" }}'
),
(
    '{{ getID "recipe_step_grilled_chicken_1" }}',
    0,
    '{{ getID "valid_preparation_marinate" }}',
    0,
    0,
    0,
    NULL,
    '',
    '',
    '{{ getID "recipe_grilled_chicken" }}'
),
(
    '{{ getID "recipe_step_grilled_chicken_2" }}',
    0,
    '{{ getID "valid_preparation_grill" }}',
    0,
    0,
    0,
    NULL,
    '',
    '',
    '{{ getID "recipe_grilled_chicken" }}'
),
(
    '{{ getID "recipe_step_caprese_salad_1" }}',
    0,
    '{{ getID "valid_preparation_slice" }}',
    0,
    120,
    450,
    NULL,
    '',
    '',
    '{{ getID "recipe_caprese_salad" }}'
),
(
    '{{ getID "recipe_step_caprese_salad_2" }}',
    0,
    '{{ getID "valid_preparation_plate" }}',
    0,
    0,
    0,
    NULL,
    '',
    '',
    '{{ getID "recipe_caprese_salad" }}'
),
(
    '{{ getID "recipe_step_spaghetti_with_meatballs_1" }}',
    0,
    '{{ getID "valid_preparation_boil" }}',
    0,
    600,
    900,
    NULL,
    '',
    '',
    '{{ getID "recipe_spaghetti_with_meatballs" }}'
),
(
    '{{ getID "recipe_step_spaghetti_with_meatballs_2" }}',
    0,
    '{{ getID "valid_preparation_drain" }}',
    0,
    0,
    0,
    NULL,
    '',
    '',
    '{{ getID "recipe_spaghetti_with_meatballs" }}'
);

-- Recipe Step Ingredients

INSERT INTO "recipe_step_ingredients" (
    "id",
    "ingredient_id",
    "quantity_type",
    "quantity_value",
    "quantity_notes",
    "product_of_recipe_step",
    "ingredient_notes",
    "belongs_to_recipe_step"
)
VALUES
(
    '{{ getID "recipe_step_ingredients_risotto_step_1_ingredient_1" }}',
    '{{ getID "valid_ingredient_onion" }}',
    'grams',
    400,
    '',
    false,
    '',
    '{{ getID "recipe_step_risotto_1" }}'
),
(
    '{{ getID "recipe_step_ingredients_risotto_step_2_ingredient_1" }}',
    '{{ getID "valid_ingredient_onion" }}',
    'grams',
    400,
    '',
    true,
    '',
    '{{ getID "recipe_step_risotto_2" }}'
),
(
    '{{ getID "recipe_step_ingredients_risotto_step_2_ingredient_2" }}',
    '{{ getID "valid_ingredient_water" }}',
    'milliliters',
    250,
    '',
    false,
    'helps avoid burning the onion',
    '{{ getID "recipe_step_risotto_2" }}'
),
(
    '{{ getID "recipe_step_ingredients_grilled_chicken_step_1_ingredient_1" }}',
    '{{ getID "valid_ingredient_chicken_breast" }}',
    'grams',
    900,
    '',
    false,
    '',
    '{{ getID "recipe_step_grilled_chicken_1" }}'
),
(
    '{{ getID "recipe_step_ingredients_grilled_chicken_step_1_ingredient_2" }}',
    '{{ getID "valid_ingredient_black_pepper" }}',
    'grams',
    3,
    '',
    false,
    '',
    '{{ getID "recipe_step_grilled_chicken_1" }}'
),
(
    '{{ getID "recipe_step_ingredients_grilled_chicken_step_1_ingredient_3" }}',
    '{{ getID "valid_ingredient_garlic" }}',
    'grams',
    20,
    '',
    false,
    '',
    '{{ getID "recipe_step_grilled_chicken_1" }}'
),
(
    '{{ getID "recipe_step_ingredients_grilled_chicken_step_2_ingredient_1" }}',
    '{{ getID "valid_ingredient_chicken_breast" }}',
    'grams',
    900,
    '',
    true,
    '',
    '{{ getID "recipe_step_grilled_chicken_2" }}'
),
(
    '{{ getID "recipe_step_ingredients_caprese_salad_step_1_ingredient_1" }}',
    '{{ getID "valid_ingredient_tomato" }}',
    'grams',
    500,
    '',
    false,
    '',
    '{{ getID "recipe_step_caprese_salad_1" }}'
),
(
    '{{ getID "recipe_step_ingredients_caprese_salad_step_1_ingredient_2" }}',
    '{{ getID "valid_ingredient_mozzarella" }}',
    'grams',
    500,
    '',
    false,
    '',
    '{{ getID "recipe_step_caprese_salad_1" }}'
),
(
    '{{ getID "recipe_step_ingredients_caprese_salad_step_2_ingredient_1" }}',
    '{{ getID "valid_ingredient_tomato" }}',
    'grams',
    500,
    '',
    true,
    '',
    '{{ getID "recipe_step_caprese_salad_2" }}'
),
(
    '{{ getID "recipe_step_ingredients_caprese_salad_step_2_ingredient_2" }}',
    '{{ getID "valid_ingredient_mozzarella" }}',
    'grams',
    500,
    '',
    true,
    '',
    '{{ getID "recipe_step_caprese_salad_2" }}'
),
(
    '{{ getID "recipe_step_ingredients_spaghetti_with_meatballs_step_1_ingredient_1" }}',
    '{{ getID "valid_ingredient_pasta" }}',
    'grams',
    420,
    '',
    false,
    '',
    '{{ getID "recipe_step_spaghetti_with_meatballs_1" }}'
),
(
    '{{ getID "recipe_step_ingredients_spaghetti_with_meatballs_step_1_ingredient_2" }}',
    '{{ getID "valid_ingredient_water" }}',
    'grams',
    420,
    '',
    false,
    '',
    '{{ getID "recipe_step_spaghetti_with_meatballs_1" }}'
),
(
    '{{ getID "recipe_step_ingredients_spaghetti_with_meatballs_step_2_ingredient_1" }}',
    '{{ getID "valid_ingredient_pasta" }}',
    'grams',
    420,
    '',
    true,
    '',
    '{{ getID "recipe_step_spaghetti_with_meatballs_2" }}'
);

-- Meals

INSERT INTO "meals" (
    "id",
    "name",
    "description",
    "created_by_user"
)
VALUES
(
    '{{ getID "meal_mushroom_risotto_with_grilled_chicken" }}',
    'mushroom risotto with chicken',
    'chicken with a nice mushroom risotto',
    '{{ getID "household_1_user_1" }}'
),
(
    '{{ getID "meal_spaghetti_with_grilled_chicken" }}',
    'spaghetti with grilled chicken',
    'spaghetti with a nice grilled chicken',
    '{{ getID "household_1_user_1" }}'
),
(
    '{{ getID "meal_spaghetti_with_caprese_salad" }}',
    'spaghetti with caprese salad',
    'spaghetti with a nice caprese salad',
    '{{ getID "household_1_user_1" }}'
);

INSERT INTO "meal_recipes" (
    "id",
    "meal_id",
    "recipe_id"
)
VALUES
(
    '{{ getID "meal_mushroom_risotto_with_grilled_chicken_recipe_1" }}',
    '{{ getID "meal_mushroom_risotto_with_grilled_chicken" }}',
    '{{ getID "recipe_mushroom_risotto" }}'
),
(
    '{{ getID "meal_mushroom_risotto_with_grilled_chicken_recipe_2" }}',
    '{{ getID "meal_mushroom_risotto_with_grilled_chicken" }}',
    '{{ getID "recipe_grilled_chicken" }}'
),
(
    '{{ getID "meal_spaghetti_with_grilled_chicken_1" }}',
    '{{ getID "meal_spaghetti_with_grilled_chicken" }}',
    '{{ getID "recipe_spaghetti_with_meatballs" }}'
),
(
    '{{ getID "meal_spaghetti_with_grilled_chicken_2" }}',
    '{{ getID "meal_spaghetti_with_grilled_chicken" }}',
    '{{ getID "recipe_grilled_chicken" }}'
),
(
    '{{ getID "meal_spaghetti_with_caprese_salad_recipe_1" }}',
    '{{ getID "meal_spaghetti_with_caprese_salad" }}',
    '{{ getID "recipe_spaghetti_with_meatballs" }}'
),
(
    '{{ getID "meal_spaghetti_with_caprese_salad_recipe_2" }}',
    '{{ getID "meal_spaghetti_with_caprese_salad" }}',
    '{{ getID "recipe_caprese_salad" }}'
);


-- Meal Plans

INSERT INTO "meal_plans" (
    "id",
    "notes",
    "status",
    "voting_deadline",
    "starts_at",
    "ends_at",
    "belongs_to_household"
)
VALUES
(
    '{{ getID "meal_plan_1_household_1" }}',
    '',
    'finalized',
    '{{ timestamp }}',
    '{{ timestamp }}',
    '{{ timestamp }}',
    '{{ getID "household_1" }}'
);

INSERT INTO "meal_plan_options" (
    "id",
    "day",
    "meal_name",
    "meal_id",
    "chosen",
    "notes",
    "belongs_to_meal_plan"
)
VALUES
(
    '{{ getID "meal_plan_1_household_1_option_1" }}',
    3,
    'dinner',
    '{{ getID "meal_mushroom_risotto_with_grilled_chicken" }}',
    true,
    '',
    '{{ getID "meal_plan_1_household_1" }}'
),
(
    '{{ getID "meal_plan_1_household_1_option_2" }}',
    3,
    'dinner',
    '{{ getID "meal_spaghetti_with_caprese_salad" }}',
    false,
    '',
    '{{ getID "meal_plan_1_household_1" }}'
),
(
    '{{ getID "meal_plan_1_household_1_option_3" }}',
    3,
    'dinner',
    '{{ getID "meal_spaghetti_with_grilled_chicken" }}',
    true,
    '',
    '{{ getID "meal_plan_1_household_1" }}'
);
