<img src="{{ .LogoURL }}" />

<br/>

This is to inform you that your password has been changed upon successful redemption of a reset token. If you did not make this change, please feel free to reach out to support.
